# osx noise
.DS_Store

# eclipse noise
.buildpath
.project

# xcode noise
build/*
*.pbxuser
*.mode1v3

# netbeans noise
nbproject

# old skool
.svn

# unknown but annoying as hell
.settings

# lithium schtuff
app/resources/tmp

# admin resource stuff
admin/resources
admin/resources/totsy/shipfiles/CSH*
admin/resources/totsy/processed/*.csv
admin/resources/totsy/processed/*.txt
admin/resources/tmp/logs/*.*
admin/resources/tmp/logs/
admin/resources/tmp/cache/
admin/resources/totsy/shipfiles/backup/

# selenium
selenium/server.jar
