/*--- Reusable Generic Styles ---*/
.positive { color: green; }
.negative { color: red; }

[contenteditable] {
	border: 1px solid transparent;
}
[contenteditable]:not(:focus):before {
	content: "✎ ";
}
[contenteditable]:focus {
	padding: 5px;
	background: white;
	border-color: #888;
	box-shadow: 6px 6px 11px #6e6e6e;
}

.saving       { opacity: .5; }
.saving:after { content: " saving…"; }

label {
	font-weight: bold;
}
.tab_region_left_col {
	width: 440px;
	margin: 0 20px 0 0;
	display: block;
	float: left;
}
.tab_region_right_col {
	width: 440px;
	float: left;
	display: block;
}
#blurb_div, .input_field {
	margin-top: 10px;
}
.document_status_input {
	padding: 0 0 0 5px;
}
.tab_top_submit, .tab_bottom_submit {
	float: right;
	margin: 5px;
	clear: left;
}
.tab_bottom_submit {
	float: left;
}
.tab_top_submit input, .tab_bottom_submit input, .tab_top_submit button, .tab_bottom_submit button  {
	padding: 3px;
}
.tab_top_submit .submit_button, .tab_bottom_submit .submit_button {
	float: left;
	margin-right: 5px;
}
.tab_top_submit .cancel, .tab_bottom_submit .cancel {
	float: left;
	padding-top: 3px;
}

.positive { color: green; }
.negative { color: red; }

#event_items .images li:first-child img {
	height: 160px;
	width: auto;
}
#event_items .images img {
	height: 80px;
	width: auto;
	margin-top: .5em;
}
#event_items .images img + img {
	margin-left: 5px;
}

#event_items ul.images {
	list-style: none;
}
#event_items .images li {
	margin: 0;
	padding: 0;
}
#event_items .sortable li.placeholder {
	margin: .5em 0;
	width: 160px;
	height: 160px;
	background-color: #ED1C25;
	opacity: .7;
}
.upload_files_link {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 2.5;
}
.upload_files_link img {
	display: inline;
	margin: 0;
	padding: 0;
}
#agileUploaderSWF {
	margin-top: 2px;
}
#agileUploaderInfo {
	background: #e8e8e8;
	border: 1px solid #888;
	margin-bottom: 1em;
	height: 280px;
	width: 415px;
}
#agileUploaderAttachArea {
	width: 320px;
	margin: 0;
	padding: 0;
	float: left;
}
#agileUploaderFileList li {
	border-bottom: none;
	padding: 6px;
	height: 55px;
}