/** Start YUI Resets **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend {
margin: 0;
padding: 0
}
table {
border-collapse: collapse;
border-spacing: 0
}
fieldset,img {
border: 0
}
address,caption,cite,code,dfn,em,th,var {
font-style: normal;
font-weight: normal
}
ol,ul {
list-style: none
}
caption,th {
text-align: left
}
h1,h2,h3,h4,h5,h6 {
font-size: 100%
}
q:before,q:after {
content: '';
}
abbr,acronym {
border: 0
}
/** End YUI Resets **/

body {
font-family: Helvetica,Arial,Sans-Serif;
color: #707070;
background: #CDCDCD;
font-size: 14px;
line-height: 18px
}

a:link, a:visited {
color: #ed1c25;
text-decoration: none
}
a:hover {
text-decoration: underline
}

.grn #left ul.menu li.active a:link,.grn #left ul.menu li.active a:visited,.grn #content a:link,.grn #content a:visited,.grn #content li.active a:link,.grn #content li.active a:visited {
color: #72BF50
}

:focus {
outline: none
}

img {
border: none
}

ul {
list-style: none
}
ol {
margin: 0 0 20px 40px
}

h1,h2,h3,h4,h5 {
font-weight: normal;
color: #ed1c25;
line-height: normal
}
h1 {
font-size: 24px
}
h1.p-header {
padding-left: 36px
}
h2,h3 {
font-weight: bold
}

.fl {
float: left
}
.fr {
float: right
}
.sm {
font-size: .9em
}
.md {
font-size: 1.1em
}
.lg {
font-size: 1.3em
}
.clear {
clear: both
}
.dk-blue {
color: #0B4358
}
.block {
display: block
}
.center {
text-align: center
}
.nofloat {
float: none !important
}
.bold {
font-weight: bold
}
hr.no-show {
display: none
}
.mar-b {
margin-bottom: 20px
}
.mar-t {
margin-top: 20px
}
.mar-none {
margin: 0
}
.pad-t {
padding-top: 20px
}
.gray {
color: #707070
}
.white {
color: #FFF
}
.red {
color: #ed1c25
}
.no-show {
display: none
}
button {
cursor: pointer;
overflow: visible
}
button::-moz-focus-inner {
border: none
}

blockquote {
margin-bottom: 20px;
width: 70%
}

legend {
margin-bottom: 10px
}

ul.col-list, ul.col-list-2, .more-details ul.col-list {
list-style: none;
overflow: hidden;
margin: 10px 0 20px 0
}
ul.col-list li {
float: left;
width: 25%;
font-size: .9em
}
ul.col-list-2 li {
float: left;
width: 50%
}

ul.bugs {
list-style-image: url(../img/bug-icon.png);
margin: 0 0 0 30px
}
ul.bugs li {
margin: 10px 0;
padding-right: 30%
}
input.desc {
width: 200px;
}
input.general {
position: absolute;
left: 160px;
}
input.inputbox,textarea.inputbox {
background: #FFF;
border: 1px solid #CCC;
padding: 5px
}
input.invalid {
border: 1px solid #FF3300
}
label.invalid {
color: #FF3300
}

div.pagination {
overflow: hidden;
margin-bottom: 10px;
font-size: .9em;
padding: 0 10px
}
div.pagination span {
display: block;
float: left;
margin-right: 5px
}
div.footer-pagination {
}

ul.pagination {
list-style: none;
overflow: hidden;
float: left;
padding-left: 10px
}
ul.pagination li {
float: left
}
ul.pagination li.page {
border-right: 1px solid #CCC;
padding-right: 5px;
margin-right: 5px
}
ul.pagination li.control {
margin-right: 5px
}

div.breadcrumbs {
font-size: .8em;
color: #808080;
margin: 30px 0 15px 0
}
div.breadcrumbs a:link,div.breadcrumbs a:visited {
color: #F47421;
font-weight: bold
}
span.breadcrumbs span {
font-size: .7em;
padding: 0 3px
}

.hasTip {
cursor: pointer;
font-weight: bold
}
.tool-tip {
background: #F1FAC0;
border: 1px solid #CCC;
padding: 10px;
width: 250px;
font-size: .8em
}
.tool-tip .tool-title {
font-weight: bold
}

#topper,#botter {
width: 996px;
height: 18px;
margin: 0 auto;
background-image: url(../img/caps.png)
}
#topper {
background-position: left top
}
#botter {
background-position: left bottom
}

#wrapper {
width: 960px;
padding: 1px 18px 0 18px;
margin: 0 auto;
background: url(../img/cnt-bg.png) repeat-y #FFF
}

#header {
width: 958px;
height: 110px;
margin: 0 1px;
background: url(../img/header-bg.png) repeat-x;
font-size: 12px
}
#header-lt {
width: 230px;
float: left
}
#main-logo {
display: block;
width: 155px;
height: 90px;
padding: 15px 0 0 20px
}

#header-mid {
width: 475px;
float: left;
position: relative;
height: 90px;
padding: 20px 0 0 0;
font-size: 13px
}
#welcome {
font-weight: bold;
padding: 0 0 0 10px
}
#welcome strong {
color: #ed1c25
}
a#cs {
float: right;
text-transform: uppercase;
background: url(../img/cs-icon.gif) right bottom no-repeat;
padding-right: 20px;
line-height: 20px;
height: 16px
}

#header-rt {
width: 243px;
float: right;
padding: 10px 10px 0 0;
font-weight: bold
}
a#if {
display: block;
width: 214px;
height: 39px;
background: url(../img/invite-btn-1.gif) left top no-repeat;
text-indent: -9999px;
float: right
}
#header-rt p {
display: block;
line-height: 36px;
height: 28px;
float: right;
margin-top: 10px
}
a#cart {
display: inline-table;
height: 28px;
background: url(../img/cs-icon.gif) 0 0 no-repeat;
padding-left: 22px;
margin: 0 2px 0 8px;
float: left
}

#main-nav {
position: absolute;
bottom: 10px
}
#main-nav ul {
}
#main-nav li {
float: left;
padding-right: 5px;
margin-right: 5px;
background: url(../img/nav-div.gif) right 5px no-repeat;
position: relative
}
#main-nav li.last {
background: none;
padding-right: 0;
margin-right: 0
}
#main-nav a {
display: block;
height: 32px;
background-image: url(../img/nav-sprite.gif);
background-repeat: no-repeat;
text-indent: -9999px
}

li.item2 a {
background-position: 0 -32px;
width: 59px
}
li.item2 a:hover,li.item2.over a, li.active.item2 a {
background-position: 0 0
}

li.item3 a {
background-position: -60px -32px;
width: 123px
}
li.item3 a:hover,li.item3.over a, li.active.item3 a {
background-position: -60px 0
}

li.item4 a {
background-position: -184px -32px;
width: 59px
}
li.item4 a:hover,li.item4.over a, li.active.item4 a {
background-position: -184px 0
}

li.item5 a {
background-position: -244px -32px;
width: 117px
}
li.item5 a:hover,li.item5.over a, li.active.item5 a {
background-position: -244px 0
}

#main-nav li ul {
position: absolute;
left: -9999px;
z-index: 500;
width: 164px;
top: 32px
}
#main-nav li li {
float: none;
margin-right: 0;
background-image: none;
background-color: #E7E7E8;
border-left: 1px solid #B3B3B3;
border-right: 1px solid #B3B3B3;
padding: 0 5px
}
#main-nav li li.first {
background: url(../img/dd-bg.png) left top no-repeat;
border: none;
padding: 5px 5px 0 5px
}
#main-nav li li.last {
background: url(../img/dd-bg.png) left bottom no-repeat;
border: none;
padding: 0 5px 5px 5px
}
#main-nav li ul a:link,#main-nav li ul a:visited {
height: auto;
width: auto;
background-image: none;
text-indent: 0;
border-bottom: 1px solid #B3B3B3;
padding: 5px;
text-transform: uppercase;
font-weight: bold;
color: #636363;
font-size: 11px
}
#main-nav li ul li.last a {
border-bottom: none
}
#main-nav li ul a:hover,#main-nav li ul li.active a:link,#main-nav li ul li.active a:visited {
background: #FFF;
color: #ed1c25;
text-decoration: none
}
#main-nav li:hover ul {
left: 0
}

#utility-nav {
}

/* Content Columns */

#content {
overflow: hidden;
padding: 20px
}

#left {
float: left;
width: 168px;
padding: 25px 20px 0 36px
}
#left ul.menu li {
margin: 15px 0
}
#left ul.menu a:link,#left ul.menu a:visited {
color: #707070;
text-decoration: none
}
#left ul.menu a:hover {
color: #ed1c25
}
#left ul.menu li.active a:link,#left ul.menu li.active a:visited {
color: #ed1c25;
font-weight: bold
}

#middle {
float: left;
position: relative
}
.r-container {
position: relative
}
#middle p {
margin-bottom: 20px
}
.tl,.tr,.bl,.br {
position: absolute;
width: 14px;
height: 14px;
background-image: url(../img/corners.png);
background-repeat: no-repeat
}
.tl {
top: 0;
left: 0;
background-position: right bottom
}
.tr {
top: 0;
right: 0;
background-position: left bottom
}
.bl {
bottom: 0;
left: 0;
background-position: right top
}
.br {
bottom: 0;
right: 0;
background-position: left top
}
#page,.r-box {
border: 1px solid #D7D7D7;
padding: 20px;
overflow: hidden
}
.r-box-2 {
border: 1px solid #D7D7D7;
padding: 10px 5px;
overflow: hidden
}
.r-box-2 h2 {
margin-bottom: 10px
}

.box-2 .tl,.box-2 .tr,.box-2 .bl,.box-2 .br {
position: absolute;
width: 9px;
height: 9px;
background-image: url(../img/corners-2.png);
background-repeat: no-repeat
}
.box-2 .r-box {
border: 1px solid #B5B5B5;
overflow: hidden
}

.lt-gradient-1 {
background: url(../img/lt-gradient-1.png) repeat-x #F5F5F5
}

div.col-2 {
overflow: hidden;
margin: 10px 0
}
div.col-2 .box-2 {
width: 48%
}

.about-us #page {
background: url(../img/about-bg.jpg) right top no-repeat
}

.leftandright {
width: 640px
}
.noright {
width: 696px
}
.noleft {
width: 610px
}
.fullwidth {
width: 100%
}

#right {
width: 320px;
float: left;
background: url(../img/right-bot-bg.png) no-repeat left bottom;
font-size: .8em
}
#right h3 {
font-size: 1.2em;
margin-bottom: 5px
}

#footer {
width: 960px;
margin: 0 auto;
text-transform: uppercase;
font-size: 11px;
line-height: normal
}
#footer ul {
overflow: hidden;
float: right
}
#footer li {
float: left;
padding-right: 5px;
margin-right: 5px;
border-right: 1px solid #707070
}
#footer li.last {
border-right: none;
padding-right: 0;
margin-right: 0
}
#footer a:link,#footer a:visited {
color: #707070
}
#footer p {
margin: 5px 0;
float: right
}

body.modal-win {
background: #707070
}
body.modal-win h1 {
font-size: 20px
}
body.modal-win p {
margin: 0 0 20px 0
}

div.modal-top {
background: #707070;
padding-bottom: 10px
}

.reg-left,.reg-right {
float: left;
overflow: hidden;
background: #FFF
}
.reg-left {
width: 625px
}
.reg-right {
width: 310px;
border-left: 5px solid #707070
}
.reg-copy {
margin: 20px
}
img.reg-img {
border-bottom: 4px solid #707070
}

.reg-right .label {
text-transform: lowercase;
font-weight: bold;
display: block
}
label span {
text-transform: lowercase;
padding: 0 0 0 5px
}

input.inputbox,textarea.inputbox {
background: url(../img/input-bg.png) repeat-x left bottom #FFF;
border: 1px solid #DEDEDE;
margin-bottom: 8px
}
select.inputbox {
margin-bottom: 8px
}
textarea {
font-family: Helvetica,Arial,Sans-Serif;
color: #707070;
font-size: 12px
}

.reg-right input.inputbox {
width: 260px
}

.reg-right select#birthday-month {
width: 110px;
margin-right: 5px
}
.reg-right select#birthday-day {
width: 62px;
margin-right: 5px
}

.check-col-2 {
display: block;
float: left;
margin: 0 15px 10px 0
}

.logo-bot {
background: url(../img/logo.png) 98% 98% no-repeat #FFF
}

button.btn {
cursor: pointer;
display: block;
text-indent: -9999px;
font-size: 1px;
border: none
}
button.reg-btn {
background: url(../img/reg-btn.png) no-repeat;
height: 39px;
width: 134px
}
.reg-right .reg-btn {
margin: 10px 0
}

label.radio {
display: block;
float: left;
margin: 3px 20px 10px 0
}

.form-row {
display: table-row
}
.form-row label {
display: table-cell;
text-align: right;
padding-right: 5px;
font-weight: bold
}

.flex-btn {
background: url(../img/btn-blank.png) transparent no-repeat right top;
padding: 0 10px 0 0;
text-align: center;
border: none
}

.flex-btn span {
background: url(../img/btn-blank.png) no-repeat left top;
height: 39px;
padding: 0 0 0 10px;
display: block;
white-space: nowrap;
position: relative;
color: #FFF;
text-transform: uppercase;
line-height: 40px;
text-shadow: #AE121B 2px 2px 0;
letter-spacing: .5px;
font-size: 12px
}

.flex-btn:hover {
text-decoration: none
}

.email-prefs {
display: table-row;
border-collapse: collapse
}
.email-prefs legend {
font-weight: bold
}
.email-prefs li {
margin: 10px 0
}
.email-prefs div {
display: table-cell;
width: 218px;
padding: 10px;
vertical-align: top
}
.email-prefs .first, .email-prefs .last {
border: 1px solid #B5B5B5;
background: #EBEBEB
}
.email-prefs .middle {
border-top: 1px solid #B5B5B5;
border-bottom: 1px solid #B5B5B5
}

.order-table {
border: 1px solid #B5B5B5
}
.order-table td {
vertical-align: top;
padding: 8px
}
#middle .order-table td p {
margin-bottom: 10px
}
.order-table th {
background: #EBEBEB;
font-weight: bold;
white-space: nowrap;
padding: 8px;
border-bottom: 1px solid #B5B5B5
}

div.current {
border-top: 4px solid #ed1c25;
padding: 20px 0
}
.tabs {
overflow: hidden
}
.tabs dt {
display: block;
float: left;
padding: 8px 16px;
background: #ACACAC;
margin-right: 4px;
color: #FFF;
text-transform: uppercase;
font-size: 12px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
line-height: normal
}
.tabs dt:hover,.tabs dt.open {
background: #ed1c25
}

.send-left {
width: 320px;
margin-right: 51px;
float: left
}
.send-right {
width: 283px;
float: left
}

div.dividing-line {
height: 1px;
background: #CCC
}

.button {
font: 14px;
}

a.invite-btn {
display: block;
text-indent: -9999px;
width: 129px;
height: 51px;
border: 1px solid #CCC;
background-image: url(../img/invite-btns.gif);
margin-bottom: 10px
}
a:hover.invite-btn {
border: 1px solid #666666
}

a#invite-facebook {
background-position: 0 0
}
a#invite-twitter {
background-position: 129px 0
}
a#invite-gmail {
background-position: 0 -51px
}
a#invite-yahoo {
background-position: 129px -51px
}
a#invite-outlook {
background-position: 0 -102px
}
a#invite-aol {
background-position: 129px -102px
}
a#invite-msn {
background-position: 0 -153px
}
a#invite-others {
background-position: 129px -153px
}

/* Modal Styles */
.body-overlayed embed, .body-overlayed object, .body-overlayed select {
visibility: hidden
}
#sbox-window embed, #sbox-window object, #sbox-window select {
visibility: visible
}
#sbox-overlay {
position: absolute;
background-color: #000
}
#sbox-window {
position: absolute;
text-align: left;
overflow: visible;
padding: 15px;
background: #707070;
border: 1px solid #ed1c25;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
* html #sbox-window {
top: 50% !important;
left: 50% !important
}
#sbox-btn-close {
position: absolute;
width: 18px;
height: 18px;
right: 30px;
top: 15px;
background: url(../img/closebox.png) no-repeat top left;
border: none
}
.sbox-loading #sbox-content {
background-image: url(../img/spinner.gif);
background-repeat: no-repeat;
background-position: center
}
#sbox-content {
clear: both;
overflow: auto;
background-color: #fff;
height: 100%;
width: 100%
}
.sbox-content-image#sbox-content {
overflow: visible
}
#sbox-image {
display: block
}
.sbox-content-image img {
display: block
}
.sbox-content-iframe#sbox-content {
overflow: visible
}

/* System Message Styles */
#system-message,#message {
margin: 30px 0 20px 0;
width: 100%;
float: left
}
#system-message ul,#message ul {
list-style: none;
margin: 0
}
#system-message dt,#message dt {
display: none
}
#system-message dd ul,#message dd ul {
padding: 10px 10px 10px 40px
}
#system-message dd.message ul,#message dd.message ul {
border: 1px solid #B2CC7E;
background: url(../img/success-icon.png) #D8F0A7 no-repeat 4px center;
color: #385D00
}
#system-message dd.error ul,#message dd.error ul {
border: 1px solid #DA9CA7;
background: url(../img/error-icon.png) #F3C5C5 no-repeat 4px center;
color: #9F001C
}
#system-message dd.notice ul,#message dd.notice ul {
border: 1px solid #7AB1DD;
background: url(../img/info-icon.png) #C4E1F8 no-repeat 4px center;
color: #005192
}
#event_duration, #event_status, #event_description, #event_note, #event_preview {
margin : 10px 0 10px 0;
}