.tab_region_left_col {
	width: 440px;
	margin: 0 20px 0 0;
	display: block;
	float: left;
}
.tab_region_right_col {
	width: 440px;
	float: left;
	display: block;
}
label {
	font-weight: bold;
}
#blurb_div, .input_field {
	margin-top: 10px;
}
.document_status_input {
	padding: 0 0 0 5px;
}
.tab_top_submit, .tab_bottom_submit {
	float: right;
	margin: 5px;
	clear: left;
}
.tab_bottom_submit {
	float: left;
}
.tab_top_submit input, .tab_bottom_submit input, .tab_top_submit button, .tab_bottom_submit button  {
	padding: 3px;
}
.tab_top_submit .submit_button, .tab_bottom_submit .submit_button {
	float: left;
	margin-right: 5px;
}
.tab_top_submit .cancel, .tab_bottom_submit .cancel {
	float: left;
	padding-top: 3px;
}

#event_items .images li:first-child img {
	height: 160px;
	width: auto;
}
#event_items .images img {
	height: 80px;
	width: auto;
	margin-top: .5em;
}
#event_items .images img + img {
	margin-left: 5px;
}

#event_items ul.images {
	list-style: none;
}
#event_items .images li {
	margin: 0;
	padding: 0;
}
#event_items .sortable li.placeholder {
	margin: .5em 0;
	width: 160px;
	height: 160px;
	background-color: #ED1C25;
	opacity: .7;
}
.upload_files_link {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
}
.upload_files_link img {
	display: inline;
	margin: 0;
	padding: 0;
}
#agileUploaderAttachArea {
	width: 340px;
	margin: 0;
	padding: 0;
	float: left;
}