.file img {
	height: auto;
	width: 50px;
}
li.file {
	margin: 0;
	list-style: none;
}
.file + .file {
	margin-top: 1em;
}
.file .meta {
	display: inline-block;
	width: 260px;
	margin-left: 10px;
}
.file .meta .name {
	font-weight: bold;
}
.file .meta .id {
	font-family: monospace;
}
.file .actions {
	display: inline-block;
	margin-left: 10px;
}
dt {
	font-weight: bold;
}
dd + dt {
	margin-top: .5em;
}
h2 + .actions {
	margin-top: 1em;
}
.actions a + a:before {
	content: " / ";
}

.file.error {
	width: auto;
}
#pending-data,
#orphaned-data {
	margin-top: 2em;
	min-height: 5em;
}
.files.naming {
	font-weight: normal;
}
.files.naming dd {
	font-family: monospace;
}

#event_media_status table {
	margin: 1em; 0;
	width: 80%;
}

