/** Start YUI Resets **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img {
	border:0;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}

q:before,q:after {
	content:'';
}

abbr,acronym {
	border:0;
}


	
/** End YUI Resets **/
body {
	font-family:Helvetica, Arial, Sans-Serif;
	color:#707070;
	background:#e0e0e0;
	font-size:12px;
	line-height:19px;
}

a:link,a:visited {
	color:#ed1c25;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.grn #left ul.menu li.active a:link,.grn #left ul.menu li.active a:visited,.grn #content a:link,.grn #content a:visited,.grn #content li.active a:link,.grn #content li.active a:visited {
	color:#72BF50;
}

:focus {
	outline:none;
}

img {
	border:none;
}

ul {
	list-style:none;
}

ol {
	margin:0 0 20px 40px;
}

h1,h2,h3,h4,h5 {
	font-weight:normal;
	color:#ed1c25;
	line-height:normal;
}

h1 {
	font-size:24px;
}

h1.p-header {
	padding-left:36px;
}

h2,h3 {
	font-weight:bold;
}

h2 span {
	font-weight:normal;
}

h3 span {
	font-weight:bold;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.sm {
	font-size:11px;
}

.md {
	font-size:12px;
}

.lg {
	font-size:16px;
}

.clear {
	clear:both;
}

.dk-blue {
	color:#0B4358;
}

.block {
	display:block;
}

.center {
	text-align:center;
}

.nofloat {
	float:none!important;
}

.bold {
	font-weight:bold;
}

hr.no-show {
	display:none;
}

.mar-b {
	margin-bottom:5px;
}

.mar-10-b {
	margin-bottom:10px;
}

.mar-t {
	margin-top:20px;
}

.mar-none {
	margin:0;
}

.pad-t {
	padding-top:20px;
}

.gray {
	color:#707070;
}

.white {
	color:#FFF;
}

.red {
	color:#ed1c25;
}

.no-show {
	display:none;
}

button {
	cursor:pointer;
	overflow:visible;
	-webkit-appearance: none;
}

button:-moz-focus-inner {
	border:none;
	-webkit-appearance: none;

}

.caps {
	text-transform:uppercase;
}

abbr {
	cursor:help;
}

#logo {
	width:155px;
	height:90px;
	background:url(../img/logo.png) no-repeat;
	text-indent:-9999px;
	display:block;
}

#logo a {
	width:155px;
	height:90px;
	background:url(../img/logo.png) no-repeat;
	text-indent:-9999px;
	display:block;
}

blockquote {
	margin-bottom:20px;
	width:70%;
}

legend {
	margin-bottom:10px;
}

ul.col-list,ul.col-list-2,.more-details ul.col-list {
	list-style:none;
	overflow:hidden;
	margin:10px 0 20px;
}

ul.col-list li {
	float:left;
	width:25%;
	font-size:.9em;
}

ul.col-list-2 li {
	float:left;
	width:50%;
}

ul.bugs {
	list-style-image:url(../img/bug-icon.png);
	margin:0 0 0 20px;
}

ul.bugs li {
	margin:10px 0;
	padding-right:30%;
}

ul.columns-2 li {
	float:left;
	width:46%;
	padding-right:20px;
	margin:0;
}

input.inputbox,textarea.inputbox {
	background:#FFF;
	border:1px solid #CCC;
	padding:5px;
}

input.invalid {
	border:1px solid #FF3300;
}

label.invalid {
	color:#FF3300;
}

.on-top {
	z-index:10000;
}

div.pagination {
	overflow:hidden;
	margin-bottom:10px;
	font-size:.9em;
	padding:0 10px;
}

div.pagination span {
	display:block;
	float:left;
	margin-right:5px;
}

div.footer-pagination {
}

ul.pagination {
	list-style:none;
	overflow:hidden;
	float:left;
	padding-left:10px;
}

ul.pagination li {
	float:left;
}

ul.pagination li.page {
	border-right:1px solid #CCC;
	padding-right:5px;
	margin-right:5px;
}

ul.pagination li.control {
	margin-right:5px;
}

div.breadcrumbs {
	font-size:.8em;
	color:#808080;
	margin:30px 0 15px;
}

div.breadcrumbs a:link,div.breadcrumbs a:visited {
	color:#F47421;
	font-weight:bold;
}

span.breadcrumbs span {
	font-size:.7em;
	padding:0 3px;
}

.hasTip {
	cursor:pointer;
	font-weight:bold;
}

.tool-tip {
	background:#F1FAC0;
	border:1px solid #CCC;
	padding:10px;
	width:250px;
	font-size:.8em;
}

.tool-tip .tool-title {
	font-weight:bold;
}

#topper,#botter {
	width:996px;
	height:18px;
	margin:0 auto;
	background-image:url(../img/caps.png);
}

#topper {
	background-position:left top;
}

#botter {
	background-position:left bottom;
}


	
/* #wrapper { width:960px; padding:1px 18px 0 18px; margin:0 auto; background:url(../img/cnt-bg.png) repeat-y #FFF } */
#header {
	height:110px;
	margin:0;
	font-size:12px;
}

#header-lt {
	width:230px;
	float:left;
}

#main-logo {
	display:block;
	width:60px;
	height:60px;
	padding:5px 0 0 5px;
}

#header-mid {
	width:475px;
	float:left;
	position:relative;
	height:90px;
	padding:20px 0 0;
	font-size:13px;
	z-index:200;
}

#welcome {
	font-weight:bold;
	padding:0 0 0 10px;
}

#welcome strong {
	color:#ed1c25;
}

a#cs {
	float:right;
	text-transform:uppercase;
	background:url(../img/cs-icon.gif) right bottom no-repeat;
	padding-right:20px;
	line-height:20px;
	height:16px;
}

#header-rt {
	float:right;
	padding:10px 10px 0 0;
	font-weight:bold;
}

a#if {
	display:block;
	width:214px;
	height:39px;
	background:url(../img/invite-btn-1.gif) left top no-repeat;
	text-indent:-9999px;
	float:right;
	margin:0 0 10px;
}

#header-rt p {
	line-height:36px;
	overflow:hidden;
}

a#cart {
	display:block;
	height:28px;
	background:url(../img/cs-icon.gif) 0 0 no-repeat;
	padding-left:22px;
	margin:0 2px 0 8px;
	float:right;
}

#main-nav {
/*position:absolute; bottom:10px; */
	z-index:999999;
	padding:12px;
}

#main-nav ul {
}

#main-nav li {
	float:left;
	padding-right:5px;
	margin-right:5px;
	background:url(../img/nav-div.gif) right 5px no-repeat;
	position:relative;
	z-index:99999!important;
}

#main-nav li.last {
	background:none;
	padding-right:0;
	margin-right:0;
}

#main-nav a {
	display:block;
	height:32px;
	background-image:url(../img/nav-sprite.gif);
	background-repeat:no-repeat;
	text-indent:-9999px;
}

li.item2 a {
	background-position:0 -32px;
	width:59px;
}

li.item2 a:hover,li.item2.over a,li.active.item2 a {
	background-position:0 0;
}

li.item3 a {
	background-position:-60px -32px;
	width:123px;
}

li.item3 a:hover,li.item3.over a,li.active.item3 a {
	background-position:-60px 0;
}

li.item4 a {
	background-position:-184px -32px;
	width:59px;
}

li.item4 a:hover,li.item4.over a,li.active.item4 a {
	background-position:-184px 0;
}

li.item5 a {
	background-position:-244px -32px;
	width:117px;
}

li.item5 a:hover,li.item5.over a,li.active.item5 a {
	background-position:-244px 0;
}

#main-nav li ul {
	position:absolute;
	left:-9999px;
	z-index:500;
	width:auto;
	top:32px;
}

#main-nav li li {
	float:none;
	margin-right:0;
	background-image:none;
	background-color:#E7E7E8;
	border-left:1px solid #B3B3B3;
	border-right:1px solid #B3B3B3;
	padding:0 5px;
}

#main-nav li li.first {
	background:#e7e7e8;
	border:none;
	padding:5px 5px 0;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	border-top:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
}

#main-nav li li.last {
	background:#e7e7e8;
	border:none;
	padding:0 5px 5px;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
	border-bottom:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
}

#main-nav li ul a:link,#main-nav li ul a:visited {
	height:auto;
	width:auto;
	background-image:none;
	text-indent:0;
	border-bottom:1px solid #B3B3B3;
	padding:5px;
	text-transform:uppercase;
	font-weight:bold;
	color:#636363;
	font-size:11px;
	white-space:nowrap;
}

#main-nav li ul li.last a {
	border-bottom:none;
}

#main-nav li ul a:hover,#main-nav li ul li.active a:link,#main-nav li ul li.active a:visited {
	background:#FFF;
	color:#ed1c25;
	text-decoration:none;
}

#main-nav li:hover ul {
	left:0;
}

#utility-nav {
}


	
/* Content Columns */


#left {
}

#left ul.menu li {
	margin:9px 0 0 11px;
}

#left ul.menu a:link,#left ul.menu a:visited {
	color:#707070;
	text-decoration:none;
}

#left ul.menu a:hover {
	color:#ed1c25;
}

#left ul.menu li.active a:link,#left ul.menu li.active a:visited {
	color:#ed1c25;
	font-weight:bold;
}

#middle {
	float:left;
	position:relative;
}

.r-container {
	position:relative;
	z-index:99;
}

#middle p {
	margin-bottom:20px;
}

.tl,.tr,.bl,.br {
	position:absolute;
	width:14px;
	height:14px;
	background-image:url(../img/corners.png);
	background-repeat:no-repeat;
	z-index:100;
}

.tl {
	top:0;
	left:0;
	background-position:right bottom;
}

.tr {
	top:0;
	right:0;
	background-position:left bottom;
}

.bl {
	bottom:0;
	left:0;
	background-position:right top;
}

.br {
	bottom:0;
	right:0;
	background-position:left top;
}

#page,.r-box {
	border:1px solid #D7D7D7;
	padding:20px;
	overflow:hidden;
}

.r-box-2 {
	border:1px solid #D7D7D7;
	padding:10px 5px;
	overflow:hidden;
}

.r-box-2 h2 {
	margin-bottom:10px;
}

.md-gray {
	background:#F0EFEF;
}

.md-gray-gradient {
	background:url(../img/md-gradient.png) repeat-x #FFF;
}

#page-header {
	border:1px solid #D7D7D7;
	padding:10px;
	overflow:hidden;
}

#page-header .left,#page-header .right {
	width:50%;
	float:left;
}

#page-header .left {
	text-align:center;
}

#middle #page-header .right p {
	margin-bottom:0;
	margin-top:10px;
}

#page-header .details {
	overflow:hidden;
	margin-bottom:5px;
}

#page-header img.m-logo {
	float:left;
	margin-right:10px;
}

#page-header h1 {
	color:#707070;
	font-size:20px;
}

.table-row {
	overflow:hidden;
	padding:0 9px 9px;
	min-height:59px;
}


	
/*.table-cell{display:table-cell;vertical-align:middle}*/
.v-bottom {
	vertical-align:bottom;
}

h2.page-title {
	font-weight:normal;
	font-size:20px;
}

#page p {
	margin-bottom:10px;
}

#page h2,h3 {
	margin-top:2px;
}

.box-2 .tl,.box-2 .tr,.box-2 .bl,.box-2 .br {
	position:absolute;
	width:9px;
	height:9px;
	background-image:url(../img/corners-2.png);
	background-repeat:no-repeat;
}

.box-2 .r-box {
	border:1px solid #B5B5B5;
	overflow:hidden;
}

.lt-gradient-1 {
	background:url(../img/lt-gradient-1.png) repeat-x #F5F5F5;
}

div.col-2 {
	overflow:hidden;
	margin:10px 0;
}

div.col-2 .box-2 {
	width:48%;
}

.about-us #page {
	background:url(../img/about-bg.jpg) right top no-repeat;
}

.leftandright {
	width:640px;
}

.noright {
	width:696px;
}

.noleft {
	width:534px;
	margin:10px 30px 30px;
}

.fullwidth {
	width:100%;
}

#right {
	width:300px;
	padding:10px 20px 0 0;
	float:left;
}

#right h3 {
	margin-bottom:5px;
}

#product-detail-left {
	width:300px;
	float:left;
}

.img-th {
	float:left;
	cursor:pointer;
	margin:7px 3px 0 0;
}

.img-th.active {
	margin:7px 3px 0 0;
}

#product-detail-right {
	width:600px;
	float:right;
}

#product-detail-right .sm-actions {
	margin:10px 0 0;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
}

#detail-top-right {
	width:165px;
	float:right;
}

#detail-top-right .p-container {
	padding:10px;
	text-align:center;
	color:#707070;
}

#detail-top-right .p-container h2 {
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
}

#detail-top-right .p-container p {
	font-size:12px;
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
	margin-bottom:5px;
}

#detail-top-right .p-container strike {
	font-size:13px;
}

#detail-top-left {
	width:425px;
	float:left;
}

#detail-top-left h1 {
	margin:10px 10px 20px 0;
	color:#707070;
	font-size:19px;
}

#detail-top-left label {
	display:block;
	width:50px;
	float:left;
	padding-top:0;
}

#detail-top-left select {
	width:150px;
}

#detail-top-left .product-detail-attribute {
	margin:0 0 20px;
}

#related-products {
	overflow:hidden;
}

dt {
	font-weight:bold;
}

ul.content-list {
	list-style:disc;
	margin:0 0 0 15px;
}

#colors {
	overflow:hidden;
}

#colors .color-swatch {
	border:1px solid #D7D7D7;
	margin:10px 5px 0 0;
	float:left;
	cursor:pointer;
}

#colors .color-swatch.active {
	border:4px solid #D7D7D7;
	margin:7px 5px 0 0;
}

.product-bottom-wrapper {
	position:relative;
	z-index:1;
}


	
/* Tabs
----------------------------------*/
.ui-tabs {
	position:relative;
	z-index:1;
	zoom:1;
}

.ui-tabs p {
	margin:10px 0;
}

.ui-tabs .ui-tabs-nav {
	overflow:hidden;
}

.ui-tabs .ui-tabs-nav li {
	float:left;
	position:relative;
	top:5px;
	font-weight:bold;
	margin:0 5px 0 0;
	white-space:nowrap;
}

.ui-tabs .ui-tabs-nav li a {
	padding:8px 12px 8px 8px;
	text-decoration:none;
	text-transform:uppercase;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor:text;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor:pointer;
	display:block;
}

.ui-tabs .ui-tabs-panel {
	display:block;
	padding:10px 0px;
	border-top:2px solid #ed1c25;
}

.ui-tabs .ui-tabs-hide {
	display:none!important;
}

.ui-corner-top {
}


	
/* Component containers
----------------------------------*/
.ui-widget {
	border-radius:12px;
}

.ui-widget .ui-widget {
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
}

.ui-widget-content {
	padding-top:0;
}

.ui-widget-content a {
}

.ui-widget-header a {
}


	
/* Interaction states
----------------------------------*/
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
	background:url(../img/tab-bg-gray.gif) left top no-repeat #ACACAC;
	padding:0 0 0 4px;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
	background:url(../img/tab-bg-gray.gif) right top no-repeat;
	color:#FFF;
	text-decoration:none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	background:url(../img/tab-bg-red.gif) left top no-repeat #ed1c25;
	color:#FFF;
	padding:0 0 0 4px;
}

.ui-state-active a,.ui-widget-content .ui-state-active a,.ui-widget-header .ui-state-active a {
	background:url(../img/tab-bg-red.gif) right top no-repeat;
	color:#FFF;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
}

.ui-widget :active {
	outline:none;
}

/* Cart Pop Up 
----------------------------------*/

#cart_popup {
width: 500px; 
height: auto; 
z-index: 1000000000 !important; 
border-width: 2px; 
border-style: solid; 
background-color: rgb(255, 255, 255); 
left:445px; 
top: 15px; 
position: absolute;
}

#cart_popup_header {
margin: 0px 7px 0px 7px !important; 
padding-bottom:60px !important;
}

#cart_popup_timer {
float:left; 
font-size: 12px !important;
line-height: 18px !important; 
width: 420px !important;
text-align:right !important
}

#cart_popup_close_button {
float:right; 
text-align:right !important; 
width:60px !important;
}

.cart_popup_item_wrapper {
margin:7px !important;
}

.cart_popup_item_thumbnail {
width:73px!important; 
float:left;
}

.cart_popup_item_fields {
float:left; 
}

.cart_popup_item_description {
float:left!important; 
width:250px;
}

.cart_popup_item_price {
width:46px!important;
float:left; 
text-align:right !important;
}

.cart_popup_line_qty {
width:40px!important;
float:left; 
text-align:right !important;
}	

.cart_popup_line_total {
width:55px!important;
float:left; 
text-align:right!important;
font-weight: bold;
}

#cart_popup_breakdown {
float:right !important;
}

#cart_popup_order_total {
float:right !important;
}

#order_total_num {
font-weight:bold;
font-weight:bold; 
color:#009900 !important; 
font-size:14px !important
}

#cart_popup_cont_shop {
float:left; 
margin-right:10px;
}

#cart_popup_checkout {
float:left;
}

#more_cart_items{
font-style:italic !important; 
visibility:hidden; 
text-align:center !important;
}
	
/* Dialog Box
----------------------------------*/

.ui-widget-overlay {
	left:0;
	top:0;
	position:absolute;
	background:url(../img/black-50.png); 
}

.ui-dialog {
	position:absolute;
	padding:5px 10px;
	top:70px!important;
	overflow:hidden;
}

.ui-dialog .ui-dialog-titlebar {
	position:relative;
	text-align:right;
}

.ui-dialog .ui-dialog-title {
	display:none;
}

.ui-dialog .ui-dialog-titlebar-close span {
	background:url(../img/close-btn.gif) no-repeat scroll transparent right center !important;
	padding-right:16px;
	font-size:16px;
}

.ui-dialog .ui-dialog-content {
	overflow:auto;
	zoom:1;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align:left;
	border-width:1px 0 0;
	background-image:none;
	margin:.5em 0 0;
	padding:.3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
	float:right;
	margin:.5em .4em .5em 0;
	cursor:pointer;
	padding:.2em .6em .3em;
	line-height:1.4em;
	width:auto;
	overflow:visible;
}

.ui-dialog .ui-resizable-se {
	width:14px;
	height:14px;
	right:3px;
	bottom:3px;
}

.ui-draggable .ui-dialog-titlebar {
	cursor:move;
}
	

.shipping-process {
	margin:0 0 30px;
	overflow:hidden;
	width:654px;
}

.shipping-process li {
	float:left;
	background-image:url(../img/order-status.gif);
	text-indent:-9999px;
	height:76px;
}

.shipping-process .placed {
	background-position:0 0;
	width:118px;
}

.shipping-process .placed.active,.shipping-process .placed.link:hover {
	background-position:0 -76px;
}

.shipping-process .secured {
	background-position:-118px 0;
	width:145px;
}

.shipping-process .secured.active,.shipping-process .secured.link:hover {
	background-position:-118px -76px;
}

.shipping-process .warehouse {
	background-position:-263px 0;
	width:138px;
}

.shipping-process .warehouse.active,.shipping-process .warehouse.link:hover {
	background-position:-263px -76px;
}

.shipping-process .shipped {
	background-position:-401px 0;
	width:117px;
}

.shipping-process .shipped.active,.shipping-process .shipped.link:hover {
	background-position:-401px -76px;
}

.shipping-process .recieved {
	background-position:-518px 0;
	width:136px;
}

.shipping-process .recieved.active,.shipping-process .recieved.link:hover {
	background-position:-518px -76px;
}

h3.placed-header {
	background:url(../img/process-icons.gif) no-repeat 0 0;
	padding:0 0 0 60px;
	text-transform:uppercase;
	font-weight:normal;
	height:32px;
	line-height:32px;
	margin:0 0 0 35px;
}

h3.secured-header {
	background:url(../img/process-icons.gif) no-repeat 0 -32px;
	padding:0 0 0 60px;
	text-transform:uppercase;
	font-weight:normal;
	height:32px;
	line-height:32px;
	margin:0 0 0 35px;
}

h3.warehouse-header {
	background:url(../img/process-icons.gif) no-repeat 0 -64px;
	padding:0 0 0 60px;
	text-transform:uppercase;
	font-weight:normal;
	height:32px;
	line-height:32px;
	margin:0 0 0 35px;
}

h3.shipped-header {
	background:url(../img/process-icons.gif) no-repeat 0 -96px;
	padding:0 0 0 60px;
	text-transform:uppercase;
	font-weight:normal;
	height:32px;
	line-height:32px;
	margin:0 0 0 35px;
}

h3.recieved-header {
	background:url(../img/process-icons.gif) no-repeat 0 -128px;
	padding:0 0 0 60px;
	text-transform:uppercase;
	font-weight:normal;
	height:32px;
	line-height:32px;
	margin:0 0 0 35px;
}

.modal-div p {
	font-size:12px;
	line-height:normal;
}

p.modal-copy {
	margin-left:95px;
}

.process-list-item {
	margin:15px 0;
}

.link {
	cursor:pointer;
}

.tooltip {
	width:200px;
	height:200px;
	display:none;
	background:#FFF;
	padding:20px;
	border:1px solid #CCC;
}

#footer {
	width:960px;
	margin:0 auto;
	text-transform:uppercase;
	font-size:11px;
	line-height:normal;
}

#footer ul {
	overflow:hidden;
	float:right;
	margin:0 0 10px;
}

#footer li {
    border-right: 1px solid #AAAAAA;
    float: left;
    margin-right: 8px;
    padding:4px 5px 0px 0px;
    
}

#footer span {
    float: left;
    padding:4px 5px 0px 0px;
    
}

#footer li.last {
	border-right:none;
	padding-right:0;
	margin-right:0;
}

#footer a:link,#footer a:visited {
	color:#707070;
}

#footer p {
	margin:5px 0;
	float:right;
}

body.modal-win {
	background:#707070;
}

body.modal-win h1 {
	font-size:20px;
}

body.modal-win p {
	margin:0 0 20px;
}

div.modal-top {
	background:#707070;
	padding-bottom:10px;
}

.reg-left,.reg-right {
	float:left;
	overflow:hidden;
	background:#FFF;
}

.reg-left {
	width:625px;
}

.reg-right {
	width:310px;
	border-left:5px solid #707070;
}

.reg-copy {
	margin:20px;
}

img.reg-img {
	border-bottom:4px solid #707070;
}

.reg-right .label {
	text-transform:lowercase;
	font-weight:bold;
	display:block;
}

label span {
	text-transform:lowercase;
	padding:0 0 0 5px;
}

input.inputbox,textarea.inputbox {
	background:url(../img/input-bg.png) repeat-x left bottom #FFF;
	border:1px solid #DEDEDE;
	margin-bottom:5px;
}



.listingCountdown {
	font-size:20px;
	float:right;
	color:#ed1c25;
}

textarea {
	font-family:Helvetica, Arial, Sans-Serif;
	color:#707070;
	font-size:12px;
}

.reg-right input.inputbox {
	width:260px;
}

.reg-right select#birthday-month {
	width:110px;
	margin-right:5px;
}

.reg-right select#birthday-day {
	width:62px;
	margin-right:5px;
}

.check-col-2 {
	display:block;
	float:left;
	margin:0 15px 10px 0;
}

.logo-bot {
	background:url(../img/logo.png) 98% 98% no-repeat #FFF;
}

button.btn {
	cursor:pointer;
	display:block;
	text-indent:-9999px;
	font-size:1px;
	border:none;
}

button.reg-btn {
	background:url(../img/reg-btn.png) no-repeat;
	height:39px;
	width:134px;
}

.reg-right .reg-btn {
	margin:10px 0;
}

label.radio {
	display:block;
	float:left;
	margin:3px 20px 10px 0;
}

.flex-btn {
	background:#ed1c25;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:none;
	padding:5px 10px;
	color:#FFF;
	text-transform:uppercase;
	cursor:pointer;
	box-shadow:5px 5px 5px #888;
	text-align:center;
}

.flex-btn1 {
	background:#ed1c25;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:none;
	padding:5px 10px;
	color:#FFF;
	text-transform:uppercase;
	cursor:pointer;
	box-shadow:5px 5px 5px #888;
	text-align:center;
	float:right;
}

.flex-btn-2 {
	background:#ed1c25;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:none;
	padding:5px 10px;
	color:#FFF;
	text-transform:uppercase;
	cursor:pointer;
	box-shadow:5px 5px 5px #888;
	text-align:center;
}

a:link.flex-btn,a:visited.flex-btn {
	color:#FFF;
	font-size:12px;
	display:block;
	padding:10px 5px;
	line-height:normal;
}

a:link.flex-btn-2,a:visited.flex-btn-2 {
	color:#FFF;
	font-size:12px;
	display:block;
	padding:10px 5px;
	line-height:normal;
}

.flex-btn:hover {
	text-decoration:none;
}

.email-prefs {
	display:table-row;
	border-collapse:collapse;
}

.email-prefs legend {
	font-weight:bold;
}

.email-prefs li {
	margin:10px 0;
}

.email-prefs div {
	display:table-cell;
	width:218px;
	padding:10px;
	vertical-align:top;
}

.email-prefs .first,.email-prefs .last {
	border:1px solid #B5B5B5;
	background:#EBEBEB;
}

.email-prefs .middle {
	border-top:1px solid #B5B5B5;
	border-bottom:1px solid #B5B5B5;
}

.order-table {
	border:0px solid #B5B5B5;
}

.order-table td {
	vertical-align:top;
	padding:8px;
}

#middle .order-table td p {
	margin-bottom:10px;
}

.order-table th {
	background:#EBEBEB;
	font-weight:bold;
	white-space:nowrap;
	padding:8px;
	border-bottom:1px solid #B5B5B5;
}

div.current {
	border-top:4px solid #ed1c25;
	padding:20px 0;
}

.tabs {
	overflow:hidden;
}

.tabs dt {
	display:block;
	float:left;
	padding:8px 16px;
	background:#ACACAC;
	margin-right:4px;
	color:#FFF;
	text-transform:uppercase;
	font-size:12px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	line-height:normal;
}

.tabs dt:hover,.tabs dt.open {
	background:#ed1c25;
}

.send-left {
	width:320px;
	margin-right:51px;
	float:left;
}

.send-right {
	width:283px;
	float:left;
}

div.dividing-line {
	height:1px;
	background:#CCC;
}

a.invite-btn {
	display:block;
	text-indent:-9999px;
	width:129px;
	height:51px;
	border:1px solid #CCC;
	background-image:url(../img/invite-btns.gif);
	margin-bottom:10px;
}

a:hover.invite-btn {
	border:1px solid #666666;
}

a#invite-facebook {
	background-position:0 0;
}

a#invite-twitter {
	background-position:129px 0;
}

a#invite-gmail {
	background-position:0 -51px;
}

a#invite-yahoo {
	background-position:129px -51px;
}

a#invite-outlook {
	background-position:0 -102px;
}

a#invite-aol {
	background-position:129px -102px;
}

a#invite-msn {
	background-position:0 -153px;
}

a#invite-others {
	background-position:129px -153px;
}

.sm-actions {
	margin-bottom:5px;
}

.sm-actions dl {
	overflow:hidden;
}

.sm-actions dt,.sm-actions dd {
	float:left;
	vertical-align:middle;
	padding-right:5px;
}

.sm-actions ul {
	overflow:hidden;
}

.sm-actions li {
	float:left;
	margin-right:5px;
}

a.sm-btn {
	display:block;
	background-image:url(../img/sm-icons.png);
	text-indent:-9999px;
}

a.sm-facebook {
	background-position:0 0;
	width:16px;
	height:16px;
}

a.sm-twitter {
	background-position:-16px 0;
	width:16px;
	height:16px;
}

a.sm-email {
	background-position:-32px 0;
	width:16px;
	height:16px;
}

a.sm-facebook-md {
	background-position:-48px 0;
	width:32px;
	height:32px;
}

a.sm-twitter-md {
	background-position:-80px 0;
	width:32px;
	height:32px;
}

.sort-by {
	margin:14px;
	text-align:right;
}

.sort-by select {
	margin-left:10px;
}

.page-title {
	margin-bottom:0;
}

.coming-soon-sales {
	padding:20px 0;
	clear:both;
	overflow:hidden;
}

.product-list-item {
	float:left;
	margin-bottom:10px;
}

.p-container {
	border:1px solid #D7D7D7;
	position:relative;
}

.p-container .details .table-cell {
	padding:9px;
}

.p-container h2 {
	font-weight:normal;
	text-transform:none;
	color:#707070;
	font-size:1em;
	max-width:270px;
}

.p-container h2:hover {
	text-decoration:none;
	color:#ed1c25;
}

h2:link .p-container .details strong {
	text-transform:uppercase;
	font-size:14px;
}

.p-container .details .table-cell .price {
	text-transform:uppercase;
	font-weight:normal;
	font-size:20px;

	
/* color:#ed1c25; */
	color:#009900;
}

.p-container .details .table-cell .original-price {
	font-size:10px;
}

.splash-details .left {
	float:left;
	padding:5px;
}

.splash-details .right {
	position:absolute;
	right:5px;
	top:25px;
}

.details .left {
	float:left;
}

.details .right {
	text-align:right;
	float:left;
}

.product-list-item.middle {
	margin:0 10px 10px;
}

.p-container .splash-details {
	position:absolute;
	bottom:0;
	left:0;
	background:url(../img/gray-80-bg.png) repeat;
	color:#FFF;
	width:100%;
	font-size:18px;
	text-transform:uppercase;
	line-height:24px;
}

.splash-details a.flex-btn:link,.splash-details a.flex-btn:visited {
	float:right;
	padding:10px 12px;
}

.invite-column {
	width:180px;
	text-align:center;
	float:left;
}

.invite-column h2 {
	display:block;
	text-indent:-9999px;
}

.invite-column a.flex-btn:link,.invite-column a.flex-btn:visited {
	padding:10px;
	width:114px;
	margin:0 3px;
}

h2.invite-friends {
	background:url(../img/invite-friends-get-15-img.png) no-repeat;
	width:138px;
	height:100px;
	margin-top:50px;
}

h2.socialize-us {
	background:url(../img/socialize-with-us-img.png) no-repeat;
	width:124px;
	height:50px;
}

.invite-column .p-container {
	padding:0 21px;
	height:410px;
}

.invite-column .sm-icons {
	overflow:hidden;
	padding:0 26px;
}

.invite-column a.sm-btn {
	float:left;
	margin:0 5px;
}

.invite-column .hor-div-line {
	margin:40px 0;
}

.hor-div-line {
	width:100%;
	height:1px;
	background:#7D7D7D;
}


	
/* Coming Soon Animated Marquee Styles */
#mouter {
	overflow:hidden;
}

#mgroup {
	float:left;
	position:relative;
	overflow:hidden;
}

#mcontrols {
	position:absolute;
	z-index:11;
	bottom:10px;
	right:10px;
	background:url(../img/gray-30-bg.png);
	padding:7px;
	color:#FFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

span.citem {
	margin:0 3px;
	display:block;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#888;
	text-indent:-9999px;
	height:9px;
	width:9px;
	cursor:pointer;
}

span.citem.active-th {
	background:#FFF;
}

.marquee-item {
	float:left;
}

#lt-arrow,#rt-arrow {
	display:block;
	width:18px;
	height:38px;
	background-image:url(../img/marquee-arrows.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	margin-top:80px;
}

#rt-arrow {
	background-position:right center;
	float:right;
}

#lt-arrow {
	background-position:left center;
	float:left;
}

.coming-soon-feature {
	margin:20px 18px;
}

#coming-soon-feature-inner {
	overflow:hidden;
	padding:20px;
}

.coming-soon-feature .left {
	float:left;
	width:468px;
	border-right:1px solid #CCC;
}

.coming-soon-feature .right {
	float:left;
	width:343px;
	padding-left:30px;
	margin:20px 0;
}

.coming-soon-feature .manufacturer-logo {
	margin-bottom:20px;
}

.coming-soon-feature h2 {
	margin-bottom:0;
}

.coming-soon-feature p {
	margin:20px 0;
}

.cart-header-left {
	padding-bottom:0px; 
	margin:20px auto auto auto; 
	width: 600px !important
}

.cart-header-right {
	padding-bottom:10px; 
	margin:20px auto auto auto; 
	line-height: 15px !important; 
	float:right !important;  
	line-height: 18px !important; 
	font-size: 14px !important; 
	width: 310px !important 
}

.cart-total-review-page{

}

.cart-item-timer {
margin:5px 0px 0px 5px;	
}

.cart-tooltip{
float:left; 
margin-left:-16px;
}

.cart-item-timer-td {
width:120px !important;	
}

.cart-item-price{
width:65px;
}

.cart-item-qty{
width:65px; 
text-align:center;
}

.cart-line-total{
width:55px; 
text-align:right; 
padding-right:10px !important;
}

.cart-codes{
float: left; 
vertical-align: top; 
width:510px;
}

.cart-code-buttons{
font-size: 12px; 
text-align:left !important;
}

.cart-subtotal-content{
padding-top:10px; 
float:right; 
width:425px;
}

.cart-content {
	margin:10px;
}

.cart-step-status {
	display: table-cell;
	padding-right: 5px !important;
	vertical-align: middle; 
	line-height:10px !important;	
}

.cart-table {
	width:100%;
}

.cart-review-edit-copy {
font-size: 12px; 
font-weight: normal; 
line-height:15px;
}

.cart-review-edit{
border-style:solid;
border-width:1px; 
border-color: #DDDDDD; 
background-color: #ECECEC;
margin:5px 5px 5px 10px;
float: left;
height: 115px;
width: 315px; 
}

.cart-review-edit-header{
color:#707070;
}

.cart-review-edit-change-button{
float:right; 
font-size:10px
}

.shipping {
width: 315px !important; 
}

.billing {
width: 325px !important; 
margin-left:10px; 
margin-right:10px
}

.cart-order-place-inner{
font-weight:bold; 
font-size:15px; 
margin: 0 auto; 
width: 175px; 
display: table-cell;
vertical-align: middle; 
width: 100%; 
text-align: center;
}

.cart-order-place-inner input[type='submit']{
font-weight:bold; 
font-size:15px; 
width: 175px; 
display: table-cell;
margin-left: 10px !important;
vertical-align: middle; 
width: auto; 
text-align: center;
}


.cart-order-place-outer{
height: 115px; 
width: 266px; 
float:left; 
margin: 5px 0px 5px 10px;
width: 250px; 
height: 115px; 
display: table;
}

.cart-table th {
	background:#ACACAC;
	padding:8px 5px 5px;
	color:#FFF;
	font-weight:bold;
}

.cart-table td {
	padding:0;
	border-bottom:1px solid #D7D7D7;
}

tr.alt0 td {
	background:#f7f7f7;
	height:60px;
	vertical-align:middle;
}

tr.alt0a td {
	background:#fde5e5;
	height:60px;
	vertical-align:middle;
}

.shippingalert{
	color:#990000; 
	font-weight:bold;
}




tr.alt1 td {
	background:#EFEFEF;
	height:50px;
	vertical-align:middle;
}

td.cart-th {
	width:60px;
	height:60px;
}

td.cart-actions {
}

td.cart-desc {
	width:470px;
	font-size:12px;
	line-height:16px;
}

tr.cart-total td {
	text-align:right;
	border-bottom:none;
}

.subtotal{
	padding:0px 10px 0px 150px;
	font-weight:bold;
}

.cart-order-total{
font-size:15px;
}

#ordertotal{
color:#009900; 
float:right
}

.cart-savings{
	padding:0px 10px 10px 0px !important;
	font-weight:bold;
	float: left !important;
	color:#ff6d1d; 
	font-style: italic; 
	font-weight:bold
}

tr.cart-buy td {
	border:none;
	padding:5px;
}

td.cart-button {
	text-align:right;
}

td.cart-button a {
	float:right;
}

td.return-policy a {
	float:left;
	margin-top:10px;
}

.cart-nav-buttons{
margin:20px 0px 20px 0px;
}

.cart-empty{
padding:20px 0; 
margin:0;
text-align:center !important;
}

.cart-review-thumbnail{
float:left; 
width:120px;
line-height:15px !important; 
border-style:solid; 
border-width:1px;
border-color:#DDDDDD; 
margin:10px
}

.cart-review-row-height{
height: 110px !important;
}

.cart-review-line-qty{
width:100px; 
float:left; 
text-align:left
}

.cart-review-line-total{
width:100px !important; 
float:right !important; 
font-weight:bold; 
text-align:right !important
}

.cart-review-color-size{
font-weight: bold;
}

.cart-review-line-timer{
width:200px !important; 
float:left; 
}

.cart-review-line-price{
width:75px;
float:left;
}

.cart-review-desc{
width:515px; 
float:left;
}

.cart-review-line-content{
height:20px; 
vertical-align:middle !important;