/** Start YUI Resets **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, legend { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal }
ol, ul { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100% }
q:before, q:after { content:''; }
abbr, acronym { border:0 }
/** End YUI Resets **/

body { font-family:Helvetica, Arial, Sans-Serif; color:#707070; background:#CDCDCD; font-size:14px; line-height:18px }
a:link, a:visited { color:#EB132C; text-decoration:none }
a:hover { text-decoration:underline }
.grn #left ul.menu li.active a:link, .grn #left ul.menu li.active a:visited, .grn #content a:link, .grn #content a:visited, .grn #content li.active a:link, .grn #content li.active a:visited { color:#72BF50 }
:focus { outline:none }
img { border:none }
ul { list-style:none }
ol { margin:0 0 20px 40px }
h1, h2, h3, h4, h5 { font-weight:normal; color:#EB132C; line-height:normal }
h1 { font-size:24px }
h1.p-header { padding-left:36px }
h2, h3 { font-weight:bold }
h2 span { font-weight:normal }
h3 span { font-weight:bold }
.fl { float:left }
.fr { float:right }
.sm { font-size:11px }
.md { font-size:12px }
.lg { font-size:16px }
.clear { clear:both }
.dk-blue { color:#0B4358 }
.block { display:block }
.center { text-align:center }
.nofloat { float:none !important }
.bold { font-weight:bold }
hr.no-show { display:none }
.mar-b { margin-bottom:5px }
.mar-10-b { margin-bottom:10px }
.mar-t { margin-top:20px }
.mar-none { margin:0 }
.pad-t { padding-top:20px }
.gray { color:#707070 }
.white { color:#FFF }
.red { color:#EB132C }
.no-show { display:none }
button { cursor:pointer; overflow:visible }
button:-moz-focus-inner {
border:none
}
.caps { text-transform:uppercase }
abbr { cursor:help }
#logo { width:155px; height:90px; background:url(img/logo.png) no-repeat; text-indent:-9999px; display:block }
#logo a { width:155px; height:90px; background:url(img/logo.png) no-repeat; text-indent:-9999px; display:block }
blockquote { margin-bottom:20px; width:70% }
legend { margin-bottom:10px }
ul.col-list, ul.col-list-2, .more-details ul.col-list { list-style:none; overflow:hidden; margin:10px 0 20px 0 }
ul.col-list li { float:left; width:25%; font-size:.9em }
ul.col-list-2 li { float:left; width:50% }
ul.bugs { list-style-image:url(img/bug-icon.png); margin:0 0 0 20px }
ul.bugs li { margin:10px 0; padding-right:30% }
ul.columns-2 li { float:left; width:46%; padding-right:20px; margin:0 }
input.inputbox, textarea.inputbox { background:#FFF; border:1px solid #CCC; padding:5px }
input.invalid { border:1px solid #FF3300 }
label.invalid { color:#FF3300 }
.on-top { z-index:10000; }
div.pagination { overflow:hidden; margin-bottom:10px; font-size:.9em; padding:0 10px }
div.pagination span { display:block; float:left; margin-right:5px }
div.footer-pagination { }
ul.pagination { list-style:none; overflow:hidden; float:left; padding-left:10px }
ul.pagination li { float:left }
ul.pagination li.page { border-right:1px solid #CCC; padding-right:5px; margin-right:5px }
ul.pagination li.control { margin-right:5px }
div.breadcrumbs { font-size:.8em; color:#808080; margin:30px 0 15px 0 }
div.breadcrumbs a:link, div.breadcrumbs a:visited { color:#F47421; font-weight:bold }
span.breadcrumbs span { font-size:.7em; padding:0 3px }
.hasTip { cursor:pointer; font-weight:bold }
.tool-tip { background:#F1FAC0; border:1px solid #CCC; padding:10px; width:250px; font-size:.8em }
.tool-tip .tool-title { font-weight:bold }
#topper, #botter { width:996px; height:18px; margin:0 auto; background-image:url(img/caps.png) }
#topper { background-position:left top }
#botter { background-position:left bottom }
#wrapper { width:960px; padding:1px 18px 0 18px; margin:0 auto; background:url(img/cnt-bg.png) repeat-y #FFF }
#header { height:110px; margin:0px; background:url(img/header-bg.png) repeat-x; font-size:12px }
#header-lt { width:230px; float:left }
#main-logo { display:block; width:60px; height:60px; padding:5px 0 0 5px }
#header-mid { width:475px; float:left; position:relative; height:90px; padding:20px 0 0 0; font-size:13px; z-index:200 }
#welcome { font-weight:bold; padding:0 0 0 10px }
#welcome strong { color:#EB132C }
a#cs { float:right; text-transform:uppercase; background:url(img/cs-icon.gif) right bottom no-repeat; padding-right:20px; line-height:20px; height:16px }
#header-rt { float:right; padding:10px 10px 0 0; font-weight:bold }
a#if { display:block; width:214px; height:39px; background:url(img/invite-btn-1.gif) left top no-repeat; text-indent:-9999px; float:right; margin:0 0 10px 0 }
#header-rt p { line-height:36px; overflow:hidden }
a#cart { display:block; height:28px; background:url(img/cs-icon.gif) 0 0 no-repeat; padding-left:22px; margin:0 2px 0 8px; float:right }
#main-nav { position:absolute; bottom:10px; ; z-index:200 }
#main-nav ul { }
#main-nav li { float:left; padding-right:5px; margin-right:5px; background:url(img/nav-div.gif) right 5px no-repeat; position:relative; z-index:200 }
#main-nav li.last { background:none; padding-right:0; margin-right:0; }
#main-nav a { display:block; height:32px; background-image:url(img/nav-sprite.gif); background-repeat:no-repeat; text-indent:-9999px; }
li.item2 a { background-position:0 -32px; width:59px }
li.item2 a:hover, li.item2.over a, li.active.item2 a { background-position:0 0 }
li.item3 a { background-position:-60px -32px; width:123px }
li.item3 a:hover, li.item3.over a, li.active.item3 a { background-position:-60px 0 }
li.item4 a { background-position:-184px -32px; width:59px }
li.item4 a:hover, li.item4.over a, li.active.item4 a { background-position:-184px 0 }
li.item5 a { background-position:-244px -32px; width:117px }
li.item5 a:hover, li.item5.over a, li.active.item5 a { background-position:-244px 0 }
#main-nav li ul { position:absolute; left:-9999px; z-index:500; width:164px; top:32px; }
#main-nav li li { float:none; margin-right:0; background-image:none; background-color:#E7E7E8; border-left:1px solid #B3B3B3; border-right:1px solid #B3B3B3; padding:0 5px }
#main-nav li li.first { background:url(img/dd-bg.png) left top no-repeat; border:none; padding:5px 5px 0 5px }
#main-nav li li.last { background:url(img/dd-bg.png) left bottom no-repeat; border:none; padding:0 5px 5px 5px }
#main-nav li ul a:link, #main-nav li ul a:visited { height:auto; width:auto; background-image:none; text-indent:0; border-bottom:1px solid #B3B3B3; padding:5px; text-transform:uppercase; font-weight:bold; color:#636363; font-size:11px; white-space: nowrap;}
#main-nav li ul li.last a { border-bottom:none }
#main-nav li ul a:hover, #main-nav li ul li.active a:link, #main-nav li ul li.active a:visited { background:#FFF; color:#EB132C; text-decoration:none }
#main-nav li:hover ul { left:0 }
#utility-nav { }
/* Content Columns */

#content { overflow:hidden; padding:20px }
#left { float:left; width:168px; padding:25px 20px 0 36px }
#left ul.menu li { margin:15px 0 }
#left ul.menu a:link, #left ul.menu a:visited { color:#707070; text-decoration:none }
#left ul.menu a:hover { color:#EB132C }
#left ul.menu li.active a:link, #left ul.menu li.active a:visited { color:#EB132C; font-weight:bold }
#middle { float:left; position:relative; }
.r-container { position:relative; z-index:99 }
#middle p { margin-bottom:20px }
.tl, .tr, .bl, .br { position:absolute; width:14px; height:14px; background-image:url(img/corners.png); background-repeat:no-repeat; z-index:100 }
.tl { top:0; left:0; background-position:right bottom }
.tr { top:0; right:0; background-position:left bottom }
.bl { bottom:0; left:0; background-position:right top }
.br { bottom:0; right:0; background-position:left top }
#page, .r-box { border:1px solid #D7D7D7; padding:20px; overflow:hidden }
.r-box-2 { border:1px solid #D7D7D7; padding:10px 5px; overflow:hidden }
.r-box-2 h2 { margin-bottom:10px }
.md-gray { background:#F0EFEF }
.md-gray-gradient { background:url(img/md-gradient.png) repeat-x #FFF }
#page-header { border:1px solid #D7D7D7; padding:10px; overflow:hidden }
#page-header .left, #page-header .right { width:50%; float:left }
#page-header .left { text-align:center }
#middle #page-header .right p { margin-bottom:0; margin-top:10px }
#page-header .details { overflow:hidden; margin-bottom:5px }
#page-header img.m-logo { float:left; margin-right:10px }
#page-header h1 { color:#707070; font-size:20px }
.table-row { overflow:hidden }
/*.table-cell{display:table-cell;vertical-align:middle}*/
.v-bottom { vertical-align:bottom }
h2.page-title { font-weight:normal; font-size:24px }
#page p { margin-bottom:10px; }
#page h2, h3 { margin-top:2px; }
.box-2 .tl, .box-2 .tr, .box-2 .bl, .box-2 .br { position:absolute; width:9px; height:9px; background-image:url(img/corners-2.png); background-repeat:no-repeat }
.box-2 .r-box { border:1px solid #B5B5B5; overflow:hidden }
. { background:url(img/lt-gradient-1.png) repeat-x #F5F5F5 }
div.col-2 { overflow:hidden; margin:10px 0 }
div.col-2 .box-2 { width:48% }
.about-us #page { background:url(img/about-bg.jpg) right top no-repeat }
.leftandright { width:640px }
.noright { width:696px }
.noleft { width:534px; margin:10px 30px 30px 30px }
.fullwidth { width:100% }
#right { width:300px; padding:10px 20px 0 0; float:left }
#right h3 { margin-bottom:5px }
#product-detail-left { width:300px; float:left }
.img-th { float:left; cursor:pointer; border:1px solid #D7D7D7; margin:7px 3px 0 0 }
.img-th.active { border:1px solid #EB132C; margin:7px 3px 0 0 }
#product-detail-right { width:600px; float:right }
#product-detail-right .sm-actions { margin:10px 0 0 0; position:absolute; right:0; top:0px; z-index:2 }
#detail-top-right { width:175px; float:right }
#detail-top-right .p-container { padding:10px; text-align:center; color:#707070; }
#detail-top-right .p-container h2 { font-size:18px; text-transform:uppercase; font-weight:bold; margin-bottom:5px }
#detail-top-right .p-container p { font-size:12px; border-bottom:1px solid #CCC; padding-bottom:5px; margin-bottom:5px }
#detail-top-right .p-container strike { font-size:13px }
#detail-top-right .p-container button { font-size:12px; padding:10px 20px }
#detail-top-left { width:425px; float:left }
#detail-top-left h1 { margin:10px 10px 20px 0; color:#707070; font-size:19px }
#detail-top-left label { display:block; width:50px; float:left; padding-top:0px }
#detail-top-left select { width:150px }
#detail-top-left .product-detail-attribute { margin:0 0 20px 0 }
#related-products { overflow:hidden }
dt { font-weight:bold }
ul.content-list { list-style:disc; margin:0 0 0 15px }
#colors { overflow:hidden }
#colors .color-swatch { border:1px solid #D7D7D7; margin:10px 5px 0 0; float:left; cursor:pointer }
#colors .color-swatch.active { border:4px solid #D7D7D7; margin:7px 5px 0 0 }
.product-bottom-wrapper { position:relative; z-index:1 }
/* Tabs
----------------------------------*/
.ui-tabs { position:relative; z-index:1; zoom: 1; }
.ui-tabs p { margin:10px 0 }
.ui-tabs .ui-tabs-nav { overflow:hidden }
.ui-tabs .ui-tabs-nav li { float: left; position: relative; top: 1px; margin: 0 5px 0 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { padding:8px 12px 8px 8px; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor:pointer; display:block }
.ui-tabs .ui-tabs-panel { display: block; padding:20px 0; border-top:4px solid #EB132C }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-corner-top { }
/* Component containers
----------------------------------*/
.ui-widget { }
.ui-widget .ui-widget { }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { }
.ui-widget-content { background:#FFF; padding-top:0px; }
.ui-widget-content a { }
.ui-widget-header a { }
/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: url(../img/tab-bg-gray.gif) left top no-repeat #ACACAC; padding:0 0 0 4px }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { background:url(img/tab-bg-gray.gif) right top no-repeat; color:#FFF; text-decoration:none }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background:url(img/tab-bg-red.gif) left top no-repeat #EB132C; color:#FFF; padding:0 0 0 4px }
.ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a { background:url(img/tab-bg-red.gif) right top no-repeat; color:#FFF }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color:#FFF; text-decoration:none }
.ui-widget :active { outline:none }
/* Dialog Box
----------------------------------*/
.ui-widget-overlay { left:0; top:0; position:absolute; background:url(img/black-50.png) }
.ui-dialog { position:absolute; padding:5px 10px; top:150px!important; overflow: hidden; border:1px solid #707070 }
.ui-dialog .ui-dialog-titlebar { position:relative; text-align:right }
.ui-dialog .ui-dialog-title { display:none }
.ui-dialog .ui-dialog-titlebar-close { background:url(img/close-btn.gif) no-repeat right center; padding-right:16px; font-size:11px; }
.ui-dialog .ui-dialog-titlebar-close span { }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { }
.ui-dialog .ui-dialog-content { overflow:auto; zoom:1 }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Resizable
----------------------------------*/
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }
.shipping-process { margin:0 0 30px 0; overflow:hidden; width:654px }
.shipping-process li { float:left; background-image:url(img/order-status.gif); text-indent:-9999px; height:76px }
.shipping-process .placed { background-position:0 0; width:118px }
.shipping-process .placed.active, .shipping-process .placed.link:hover { background-position:0 -76px }
.shipping-process .secured { background-position:-118px 0; width:145px }
.shipping-process .secured.active, .shipping-process .secured.link:hover { background-position:-118px -76px }
.shipping-process .warehouse { background-position:-263px 0; width:138px }
.shipping-process .warehouse.active, .shipping-process .warehouse.link:hover { background-position:-263px -76px }
.shipping-process .shipped { background-position:-401px 0; width:117px }
.shipping-process .shipped.active, .shipping-process .shipped.link:hover { background-position:-401px -76px }
.shipping-process .recieved { background-position:-518px 0; width:136px }
.shipping-process .recieved.active, .shipping-process .recieved.link:hover { background-position:-518px -76px }
h3.placed-header { background:url(img/process-icons.gif) no-repeat 0 0; padding:0 0 0 60px; text-transform:uppercase; font-weight:normal; height:32px; line-height:32px; margin:0 0 0 35px }
h3.secured-header { background:url(img/process-icons.gif) no-repeat 0 -32px; padding:0 0 0 60px; text-transform:uppercase; font-weight:normal; height:32px; line-height:32px; margin:0 0 0 35px }
h3.warehouse-header { background:url(img/process-icons.gif) no-repeat 0 -64px; padding:0 0 0 60px; text-transform:uppercase; font-weight:normal; height:32px; line-height:32px; margin:0 0 0 35px }
h3.shipped-header { background:url(img/process-icons.gif) no-repeat 0 -96px; padding:0 0 0 60px; text-transform:uppercase; font-weight:normal; height:32px; line-height:32px; margin:0 0 0 35px }
h3.recieved-header { background:url(img/process-icons.gif) no-repeat 0 -128px; padding:0 0 0 60px; text-transform:uppercase; font-weight:normal; height:32px; line-height:32px; margin:0 0 0 35px }
.modal-div p { font-size:12px; line-height:normal }
p.modal-copy { margin-left:95px }
.process-list-item { margin:15px 0 }
.link { cursor:pointer }
.tooltip { width:200px; height:200px; display:none; background:#FFF; padding:20px; border:1px solid #CCC }
#footer { width:960px; margin:0 auto; text-transform:uppercase; font-size:11px; line-height:normal }
#footer ul { overflow:hidden; float:right; margin:0px 0px 10px 0px; }
#footer li { float:left; padding-right:5px; margin-right:5px; border-right:1px solid #707070 }
#footer li.last { border-right:none; padding-right:0; margin-right:0 }
#footer a:link, #footer a:visited { color:#707070 }
#footer p { margin:5px 0; float:right }
body.modal-win { background:#707070 }
body.modal-win h1 { font-size:20px }
body.modal-win p { margin:0 0 20px 0 }
div.modal-top { background:#707070; padding-bottom:10px }
.reg-left, .reg-right { float:left; overflow:hidden; background:#FFF }
.reg-left { width:625px }
.reg-right { width:310px; border-left:5px solid #707070 }
.reg-copy { margin:20px }
img.reg-img { border-bottom:4px solid #707070 }
.reg-right .label { text-transform:lowercase; font-weight:bold; display:block }
label span { text-transform:lowercase; padding:0 0 0 5px }
input.inputbox, textarea.inputbox { background:url(img/input-bg.png) repeat-x left bottom #FFF; border:1px solid #DEDEDE; margin-bottom:5px }
select { height:22px; background-color:#EBEBEB; margin-bottom:5px; margin-top:2px; border:1px solid #DEDEDE; }
.listingCountdown { padding-top:7px; padding-right:7px; font-size:20px; float:right; color:#EB132C; }
textarea { font-family:Helvetica, Arial, Sans-Serif; color:#707070; font-size:12px }
.reg-right input.inputbox { width:260px }
.reg-right select#birthday-month { width:110px; margin-right:5px }
.reg-right select#birthday-day { width:62px; margin-right:5px }
.check-col-2 { display:block; float:left; margin:0 15px 10px 0 }
.logo-bot { background:url(img/logo.png) 98% 98% no-repeat #FFF }
button.btn { cursor:pointer; display:block; text-indent:-9999px; font-size:1px; border:none }
button.reg-btn { background:url(img/reg-btn.png) no-repeat; height:39px; width:134px }
.reg-right .reg-btn { margin:10px 0 }
label.radio { display:block; float:left; margin:3px 20px 10px 0 }
.flex-btn { background:#EB132C; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:none; padding:5px 10px; color:#FFF; text-transform:uppercase; cursor:pointer; box-shadow:5px 5px 5px #888; text-align:center }
.flex-btn1 { background:#EB132C; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:none; padding:5px 10px; color:#FFF; text-transform:uppercase; cursor:pointer; box-shadow:5px 5px 5px #888; text-align:center; float:right; }
.flex-btn-2 { background:#EB132C; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:none; padding:5px 10px; color:#FFF; text-transform:uppercase; cursor:pointer; box-shadow:5px 5px 5px #888; text-align:center }
a:link.flex-btn, a:visited.flex-btn { color:#FFF; font-size:12px; display:block; padding:10px 5px; line-height:normal }
a:link.flex-btn-2, a:visited.flex-btn-2 { color:#FFF; font-size:12px; display:block; padding:10px 5px; line-height:normal }
.flex-btn:hover { text-decoration:none }
.email-prefs { display:table-row; border-collapse:collapse }
.email-prefs legend { font-weight:bold }
.email-prefs li { margin:10px 0 }
.email-prefs div { display:table-cell; width:218px; padding:10px; vertical-align:top }
.email-prefs .first, .email-prefs .last { border:1px solid #B5B5B5; background:#EBEBEB }
.email-prefs .middle { border-top:1px solid #B5B5B5; border-bottom:1px solid #B5B5B5 }
.order-table { border:1px solid #B5B5B5 }
.order-table td { vertical-align:top; padding:8px }
#middle .order-table td p { margin-bottom:10px }
.order-table th { background:#EBEBEB; font-weight:bold; white-space:nowrap; padding:8px; border-bottom:1px solid #B5B5B5 }
div.current { border-top:4px solid #EB132C; padding:20px 0 }
.tabs { overflow:hidden }
.tabs dt { display:block; float:left; padding:8px 16px; background:#ACACAC; margin-right:4px; color:#FFF; text-transform:uppercase; font-size:12px; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; line-height:normal }
.tabs dt:hover, .tabs dt.open { background:#EB132C }
.send-left { width:320px; margin-right:51px; float:left }
.send-right { width:283px; float:left }
div.dividing-line { height:1px; background:#CCC }
a.invite-btn { display:block; text-indent:-9999px; width:129px; height:51px; border:1px solid #CCC; background-image:url(img/invite-btns.gif); margin-bottom:10px }
a:hover.invite-btn { border:1px solid #666666 }
a#invite-facebook { background-position:0 0 }
a#invite-twitter { background-position:129px 0 }
a#invite-gmail { background-position:0 -51px }
a#invite-yahoo { background-position:129px -51px }
a#invite-outlook { background-position:0 -102px }
a#invite-aol { background-position:129px -102px }
a#invite-msn { background-position:0 -153px }
a#invite-others { background-position:129px -153px }
.sm-actions { margin-bottom:5px }
.sm-actions dl { overflow:hidden }
.sm-actions dt, .sm-actions dd { float:left; vertical-align:middle; padding-right:5px }
.sm-actions ul { overflow:hidden }
.sm-actions li { float:left; margin-right:5px }
a.sm-btn { display:block; background-image:url(img/sm-icons.png); text-indent:-9999px }
a.sm-facebook { background-position:0 0; width:16px; height:16px; }
a.sm-twitter { background-position:-16px 0; width:16px; height:16px; }
a.sm-email { background-position:-32px 0; width:16px; height:16px; }
a.sm-facebook-md { background-position:-48px 0; width:32px; height:32px }
a.sm-twitter-md { background-position:-80px 0; width:32px; height:32px }
.sort-by { margin:14px; text-align:right }
.sort-by select { margin-left:10px }
.page-title { margin-bottom:10px }
.coming-soon-sales { padding:20px 0; clear:both; overflow:hidden }
.product-list-item { float:left; margin-bottom:10px; }
.p-container { border:1px solid #D7D7D7; position:relative }
.p-container .details .table-cell { padding:3px; padding-top:7px; padding-left:5px }
.p-container h2 { font-weight:normal; text-transform:none; color:#707070; font-size:1.0em; max-width:270px; }
.p-container h2:hover { text-decoration:none; color:#EB132C }
h2:link .p-container .details strong { text-transform:uppercase; font-size:14px }
.p-container .details .table-cell .price { text-transform:uppercase; font-weight:normal; font-size:20px; /* color:#EB132C; */
	color: #009900; }
.p-container .details .table-cell .original-price { font-size:10px; }
.splash-details .left { font-size:14px; float:left; padding:15px 0 15px 20px }
.splash-details .right { float:right; padding:22px 20px 0 0 }
.details .left { float:left }
.details .right { text-align:right; float:left }
.product-list-item.middle { margin:0 10px 10px 10px }
.p-container .splash-details { position:absolute; bottom:0; left:0; background:url(img/gray-80-bg.png) repeat; color:#FFF; width:100%; font-size:18px; text-transform:uppercase; line-height:24px }
.splash-details a.flex-btn:link, .splash-details a.flex-btn:visited { float:right; padding:10px 12px }
.invite-column { width:180px; text-align:center; float:left }
.invite-column h2 { display:block; text-indent:-9999px }
.invite-column a.flex-btn:link, .invite-column a.flex-btn:visited { padding:10px; width:114px; margin:0 3px }
h2.invite-friends { background:url(img/invite-friends-get-15-img.png) no-repeat; width:138px; height:100px; margin-top:50px }
h2.socialize-us { background:url(img/socialize-with-us-img.png) no-repeat; width:124px; height:50px; }
.invite-column .p-container { padding:0 21px; height:410px }
.invite-column .sm-icons { overflow:hidden; padding:0 26px }
.invite-column a.sm-btn { float:left; margin:0 5px }
.invite-column .hor-div-line { margin:40px 0 }
.hor-div-line { width:100%; height:1px; background:#7D7D7D }
/* Coming Soon Animated Marquee Styles */

#mouter { overflow:hidden }
#mgroup { float:left; position:relative; overflow:hidden }
#mcontrols { position:absolute; z-index:11; bottom:10px; right:10px; background:url(img/gray-30-bg.png); padding:7px; color:#FFF; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px }
span.citem { margin:0 3px; display:block; float:left; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#888; text-indent:-9999px; height:9px; width:9px; cursor:pointer }
span.citem.active-th { background:#FFF }
.marquee-item { float:left }
#lt-arrow, #rt-arrow { display:block; width:18px; height:38px; background-image:url(img/marquee-arrows.png); background-repeat:no-repeat; text-indent:-9999px; cursor:pointer; margin-top:80px }
#rt-arrow { background-position:right center; float:right }
#lt-arrow { background-position:left center; float:left }
.coming-soon-feature { margin:20px 18px }
#coming-soon-feature-inner { overflow:hidden; padding:20px }
.coming-soon-feature .left { float:left; width:468px; border-right:1px solid #CCC; }
.coming-soon-feature .right { float:left; width:343px; padding-left:30px; margin:20px 0 }
.coming-soon-feature .manufacturer-logo { margin-bottom:20px }
.coming-soon-feature h2 { margin-bottom:0 }
.coming-soon-feature p { margin:20px 0 }
.cart-table { }
.cart-table th { background:#ACACAC; padding:8px 5px 5px 5px; color:#FFF; font-weight:bold }
.cart-table td { padding:3px; vertical-align:top; border-bottom:1px solid #D7D7D7 }
tr.alt0 td { background:#FFF; height:50px; vertical-align:middle; }
tr.alt1 td { background:#EFEFEF; height:50px; vertical-align:middle; }
td.cart-th { width:60px; height:60px; border-left:1px solid #D7D7D7 }
td.cart-actions { border-right:1px solid #D7D7D7 }
td.cart-desc { font-size:12px; line-height:16px; }
tr.cart-total td { text-align:right; border-bottom:1px solid #D7D7D7; padding:10px }
tr.cart-buy td { border:none; padding:5px }
td.cart-button { text-align:right }
td.cart-button a { float:right }
td.return-policy a { float:left; margin-top:10px }
.cart-notes { font-size:12px; }
.cart-remove { padding:10px; color:#EB132C; }
a:link.delete, a:visited.delete { background-image:url(img/cart-trash-btn.png); background-repeat:no-repeat; width:21px; height:21px; padding-left:20px; }
#checkout-process { margin:0 }
#checkout-process li.step { border-top:1px solid #D7D7D7; padding:10px 0 0 0 }
#middle #checkout-process p { margin-bottom:10px }
#checkout-process select { margin-bottom:10px }
#checkout-process h2 { margin-bottom:10px }
#checkout-process .form-row label { width:150px }
#shipping-new-address-form, #billing-new-address-form, #payment-method-form, #gift-message { display:none }
table.order-status { width:100% }
ol#order-details { margin:0 }
ol#order-details li { margin:10px 0; padding:10px 0 0 0; border-top:1px solid #CCC }
ol#order-details h4 { font-weight:bold }
.shipping-detail { background:#CCC; color:#EB132C; padding:10px; margin-top:10px; font-size:12px }
.shipping-methods li { margin:10px 0 }
.shipping-methods li img { vertical-align:middle; margin:0 0 0 5px }
#gift-message textarea { width:522px; height:70px }
/* Product Detail - Image Zoom Styles */
div.jqZoomTitle { z-index:5000; text-align:center; font-size:11px; height:16px; padding-top:2px; position:absolute; top:0; left:0; width: 100%; color: #FFF; background:#999 }
.jqZoomPup { overflow:hidden; background-color: #FFF; -moz-opacity:0.6; opacity: 0.6; filter: alpha(opacity = 60); z-index:10; cursor:crosshair }
.jqZoomPup img { border:0 }
.preload { -moz-opacity:0.8; opacity: 0.8; filter: alpha(opacity = 80); color: #333; font-size: 12px; text-decoration: none; border: 1px solid #CCC; background-color:#FFF; padding: 8px; text-align:center; background-image: url(../img/zoomloader.gif); background-repeat: no-repeat; background-position: 43px 30px; width:90px; * width:100px;
height:43px; *height:55px;
z-index:10; position:absolute; top:3px; left:3px }
.jqZoomWindow { border:1px solid #D7D7D7; background-color:#FFF }
#img-container { width:298px; height:300px }
#img-container.loading { background:url(img/zoomloader.gif) no-repeat center center }
.zoom-container { position:absolute; visibility:hidden; z-index:0 }
.show { visibility:visible; z-index:1 }
/* Login Page Styles */
html { height:100% }
body.login { height:100% }
#fullscreen { position:relative; overflow:hidden; min-height:100% }
#login-box { position:absolute; top:35%; left:80px; z-index:1 }
#login-box-border { position:absolute; left:0; top:-212px }
#login-box-container { position:relative }
.login-modal { width:620px }
.register-inner { padding:0 10px 10px 10px }
.register-modal { width:660px }
.tt { background:url(img/login-corners.png) no-repeat 100% 0; height:25px; margin:0 0 0 25px }
.tt div { background:url(img/login-corners.png) no-repeat 0 0; font-size:0; height:25px; line-height:0; width:25px; position:relative; left:-25px }
.tb { background:url(img/login-corners.png) no-repeat 100% 100%; height:25px; margin:0 0 0 25px }
.tb div { background:url(img/login-corners.png) no-repeat 0 100%; font-size:0; height:25px; line-height:0; width:25px; position:relative; left:-25px }
.tm { background:url(img/login-vert.png) repeat-y 0 0; padding:0 0 0 11px }
.ti { background:url(img/login-vert.png) repeat-y 100% 0; padding:0 12px 0 0 }
.tc { background:#FFF; display:block }
#bg { position:fixed; top:0; left:0; z-index:0; width:100% }
#bg img { width:100% }
body.login { background:#FFF }
body.login #footer { background:#FFF; margin:0; width:100%; overflow:hidden; position:fixed; bottom:0; left:0 }
body.login #footer ul { float:left; padding:15px }
body.login #copyright { float:right; text-align:right; padding:15px }
body.login #logo { float:left; margin:0 20px 10px 20px }
body.login #intro-copy { float:left; width:400px }
body.login #intro-copy h2 { text-align:right; font-size:24px }
body.login #intro-copy p { margin:15px 0 }
body.login #sign-in-box { clear:left; float:left; margin:10px 0; width:230px }
body.login .sign-in-container { padding-left:60px }
body.login #register-box { float:right; margin:10px 0; width:230px }
body.login .register-container { padding-right:60px }
body.login #sign-in-box .r-box, body.login #register-box .r-box { height:190px }
#sign-in-box h2, #register-box h2 { color:#707070; text-transform:uppercase; font-weight:normal; font-size:16px; margin:0 0 10px 0 }
#sign-in-box .inputbox, #register-box .inputbox { background:#FFF; width:95% }
#sign-in-box label, #register-box label { font-size:12px }
#sign-in-box .flex-btn-2, #register-box .flex-btn-2 { margin-top:5px }
#sign-in-box .checkbox { margin-right:5px }
#register-box p { line-height:normal; font-size:12px; margin-bottom:10px }
body.login .login-sig { text-align:center }
.reg-list { margin:10px 0; font-size:12px }
.form-row { overflow:hidden; margin:3px 0 }
.form-row label { display:block; width:100px; float:left; line-height:30px; font-weight:normal }
.form-row label.account { display:block; width:130px; float:left; line-height:30px; font-weight:normal }
.form-row .inputbox { margin-right:20px; float:left }
label.required span { color:#EB132C; font-weight:bold }
label.required { display:block; width:120px; float:left; line-height:30px; font-weight:normal }
.form-row label.addresses { display:block; width:120px; float:left; line-height:30px; font-weight:normal }
.submit-row { margin:20px 0 0 0; overflow:hidden }
.reg-tos { display:block; float:left; width:350px; line-height:normal; margin-right:30px }
#empty-cart { position:absolute; /* top:220px; */
	left:200px; }
.checkout-error { -moz-border-radius:0px; -webkit-border-radius:0px; border-radius: 0px; border: 1px solid #ddd; padding: 10px; background: #f7f7f7; font-weight: bold; color: #ff0000; margin-bottom: 10px; }
.standard-message { -moz-border-radius:0px; -webkit-border-radius:0px; border-radius: 0px; border: 1px solid #ddd; padding: 10px; background: #f7f7f7; font-weight: bold; color: #ff0000; }
.standard-error-message { -moz-border-radius:0px; -webkit-border-radius:0px; border-radius: 0px; border: 1px solid #ddd; padding: 10px; background: #f7f7f7; font-weight: bold; color: #ff0000; }
.cart-message { -moz-border-radius:0px; -webkit-border-radius:0px; border-radius: 0px; border: 1px solid #ddd; padding: 10px; background: #f7f7f7; font-weight: bold; color: #ff0000; }
.form-row .error { position: absolute; color: #000000; left: 55%; font-size: 12px; font-weight: bold; border: 1px solid #AA0033; padding: 4px 7px; background: #EECCCC; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
/* Additions for IE and Cross browser compatibility */
#login_button { display:block; width:60px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 0; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 }
#register_button { display:block; width:188px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -36px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer }
.request-mem-btn { display:block; width:188px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -36px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer }
.register_button { display:block; width:76px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -72px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 }
.register_button_grn { display:block; width:76px; height:26px; background:url(img/btn-sprite-grn.png) no-repeat 0 -72px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 }
.buy-now { width:100px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -108px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.reset-pw-btn { width:126px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -216px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
#detail-top-right .buy-now { display:block; margin:5px auto 0 auto }
.confirm-delivery-button { width:180px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -144px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.proceed-to-checkout { width:180px; height:30px; background:url(img/btn-sprite.gif) no-repeat 0 -371px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.continue-shopping { width:180px; height:30px; background:url(img/btn-sprite.gif) no-repeat 0 -430px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.edit-your-cart { width:140px; height:28px; background:url(img/btn-sprite.gif) no-repeat 0 -401px; border:none; text-indent:-9999px; margin-top:5px; margin-bottom:5px; cursor:pointer; font-size:0 !important; display:block }
.place-order-button { width:140px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -180px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.submit-btn { width:68px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -216px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.send-btn { width:68px; height:26px; background:url(img/btn-sprite.gif) no-repeat 0 -252px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.go-btn { width:48px; height:26px; background:url(img/btn-sprite.png) no-repeat 0 -308px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.preview-btn { width:46px; height:26px; background:url(img/btn-sprite.png) no-repeat 0 -280px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.invite-splash-btn { width:134px; height:33px; background:url(img/btn-sprite.png) no-repeat 0 -337px; border:none; text-indent:-9999px; margin-top:5px; cursor:pointer; font-size:0 !important; display:block }
.hasCountdown { font-weight:bold }
.our365-login .tt { background:url(img/our365/our365-login-corners.png) no-repeat 100% 0; height:25px; margin:0 0 0 25px }
.our365-login .tt div { background:url(img/our365/our365-login-corners.png) no-repeat 0 0; font-size:0; height:25px; line-height:0; width:25px; position:relative; left:-25px }
.our365-login .tb { background:url(img/our365/our365-login-corners.png) no-repeat 100% 100%; height:25px; margin:0 0 0 25px }
.our365-login .tb div { background:url(img/our365/our365-login-corners.png) no-repeat 0 100%; font-size:0; height:25px; line-height:0; width:25px; position:relative; left:-25px }
.our365-login .tc { background:url(img/our365/our365-login-bg.png) no-repeat right bottom #FFF; display:block; padding:0 10px 25px 10px }
.our365-login .form-50-row { width:50% }
.our365-login .our365-promo { margin:0 0 10px 0 }
.our365-login .our365-promo .lt-gradient-1 { background:url(img/our365/baby.png) no-repeat; height:159px }
.our365-login .our365-promo .r-box { padding:0; position:relative }
.our365-login .our365-promo .promo-copy { position:absolute; top:26px; left:20px; font-size:14px; color:#666666; width:425px }
.our365-register-container { padding:0 0 0 15px }
.our365-login .t-and-c { padding:30px 0 0 0 }
.our365-login .t-and-c .reg-tos { width:300px }
h1#our365-logo { background:url(img/our365/our365-totsy-logos.png) no-repeat; width:276px; height:83px; text-indent:-9999px; float:left; margin:0 20px 15px 0 }
body.login .our365-login #intro-copy { width:310px; font-size:16px; padding:15px 0 0 0 }
.error_flash { background: #f62020; padding: 15px; color: #fff; font-size: 20px; border-bottom: 8px solid rgb(68, 68, 68); }
/* ZOOM IMAGE STYLE */
.cloud-zoom { margin:0px; }
.cloud-zoom-lens { cursor:move; border:none; }
.zoom-small-image { width:298px; -moz-border-radius: 6px; -webkit-border-radius:6px; border:2px solid #eee; padding:1px; }
.cloud-zoom-big { -moz-border-radius: 6px; -webkit-border-radius:6px; padding:0px; }
.cloud-zoom-loading { color:white; background:#222; padding:3px; border:none; }
.zoom-desc { margin-top:10px; }
.zoom-desc img { border:2px solid #eee; margin:0px; background:#FFF; padding:.01em; overflow: hidden; -moz-border-radius: 6px; -webkit-border-radius:6px; }
/*----------------------------------------------------------------------------------------------------
/* Back To Top
----------------------------------------------------------------------------------------------------*/
#toTop { width:100px; -webkit-border-radius: 6px; -moz-border-radius:  6px; border-radius:  6px; border:1px solid #ccc; background:#f7f7f7; text-align:center; padding:5px; position:fixed; /* this is the magic */ bottom:10px; /* together with this to put the div at the bottom*/ right:10px; cursor:pointer; display:none; color:#333; font-family:verdana; font-size:11px; z-index:999;}
/*----------------------------------------------------------------------------------------------------
/* Horizontal Rule
----------------------------------------------------------------------------------------------------*/

hr { height: 0; border: solid #999; border-width: 1px 0 0; }
hr {
... border-top: 1px solid #d8d8d8; border-bottom: 1px solid #fff; } /* yes, the "..." is a hack and you should leave it alone! -erictherobot */
/*----------------------------------------------------------------------------------------------------
/* FAQ's
----------------------------------------------------------------------------------------------------*/
.faq_answer { padding:5px; background:#ddd; }
.faq_question { padding:5px; background:#FFF; border:1px solid #ddd; }
.rounded { border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; border:1px solid #ddd; }
/*arrow-right*/
#arrow-right { float:left; height:10px; background:transparent; top:30px; left:0px; }
#arrow-right-1 { border-top:solid 15px transparent; border-left:solid 15px #009900; margin:15px 10px 0px -41px; }
#arrow-right-2 { border-bottom:solid 15px transparent; border-left:solid 15px #009900; margin: 0px 10px 0px -41px; }
/*arrow-right*/
#arrow-right-red { float:left; height:10px; background:transparent; top:30px; left:0px; }
#arrow-right-1-red { border-top:solid 15px transparent; border-left:solid 15px #ff0000; margin:15px 10px 0px -41px; }
#arrow-right-2-red { border-bottom:solid 15px transparent; border-left:solid 15px #ff0000; margin: 0px 10px 0px -41px; }
#slider { position:relative; width:920px; height:270px; -moz-border-radius: 12px!important; -webkit-border-radius: 12px!important; background:url(img/loading.gif) no-repeat 50% 50%; }
#slider img { position:absolute; top:0px; left:0px; display:none; -moz-border-radius: 12px!important; -webkit-border-radius: 12px!important; }
#slider a { border:0; display:block; }
.nivo-controlNav { position:absolute; left:740px; bottom:-28px; }
.nivo-controlNav a { display:block; width:22px; height:22px; background:url(img/bullets.png) no-repeat; text-indent:-9999px; border:0; margin-right:3px; float:left; }
.nivo-controlNav a.active { background-position:0 -22px; }
.nivo-directionNav a { display:block; width:30px; height:30px; background:url(img/arrows.png) no-repeat; text-indent:-9999px; border:0; }
a.nivo-nextNav { background-position:-30px 0; right:15px; }
a.nivo-prevNav { left:15px; }
.nivo-caption { text-shadow:none; }
.nivo-caption a { }

.clear { clear:both; }

/* The Nivo Slider styles */

.nivoSlider { position:relative; -moz-border-radius: 12px!important; -webkit-border-radius: 12px!important; border:2px solid #fff; }
.nivoSlider img { position:absolute; top:0px; left:0px; -moz-border-radius: 12px!important; -webkit-border-radius: 12px!important; }
/* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:60; display:none; -moz-border-radius: 12px!important; -webkit-border-radius: 12px!important; }
/* The slices in the Slider */

.nivo-slice { display:block; position:absolute; z-index:50; height:100%; }
/* Caption styles */

.nivo-caption { position:absolute; left:0px; bottom:0px; background:#000; color:#fff; opacity:0.8; /* Overridden by captionOpacity setting */ width:100%; z-index:89; }
.nivo-caption p { padding:10px; font-size:22px; margin:0; }
.nivo-caption a { display:inline !important; }
.nivo-html-caption { display:none; }
/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a { position:absolute; top:45%; z-index:99; cursor:pointer; }
.nivo-prevNav { left:0px; }
.nivo-nextNav { right:0px; }
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav a { position:relative; z-index:99; cursor:pointer; }
.nivo-controlNav a.active { font-weight:bold; }
.slider_img { -moz-border-radius: 6px!important; -webkit-border-radius: 6px!important; border:4px solid #444; }

/* Spinback Hackery Code for image resizing */
#sb_share_link img {
    border: medium none;
    margin: -9px -2px 0 0!important;
    width: 179px!important;
}

#sb_content h3 {
color: #F3072B!important;
}

#global_site_msg {
font-size: 14px; padding:5px; background: #eb132c; color:#fff; border-bottom: 1px solid #ccc;
 text-align:center;}
 
 #banner_container {
	float: left;
	width: 180px;
	height: 415px;
	overflow: hidden;
	position: relative;
}


/* Landing Page Moms and Baby's */

#mb-wrapper	{width:900px; height:auto; float:left;}
#mb-bg {background:url(images/mb-bg.png) left; width:750px; height:591px; margin:40px 0px 0px 72px;}
#mb-head	{width:662px; padding:42px 0px 0px 88px; height:auto; float:left;}
#mb-head	h1	{font-family:Arial, Helvetica, sans-serif; color:#939598; font-size: 18px; font-weight:normal; margin:20px 0px 0px 20px;}
#mb-logo	{float:left; width:120px; height:78px; display:block;}
.mb-line		{background-image:url(images/mb-totsylinehead.png); width:2px; height:59px; float:left; margin:0px 20px 0px 20px;}

#mb-left	{width:360px; height:auto; float:left; padding:30px 0px 0px 90px;}
#mb-left	h1	{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#5f6062; font-weight:bold;}
#mb-left	ul,li {list-style-image:url(images/mb-arrow.png); padding-top:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
#mb-div		{width:auto; height:auto; float:left; padding:40px 0px 0px 90px; text-align:center; color:#808080;}
.mb-f1		{font-size:20px;}
.mb-f2		{font-size:50px; font-weight:normal; font-family:Helvetica, sans-serif;}
.mb-f3		{font-size:20px;}

#mb-right	{width:300px; height:auto; float:right; padding:30px 0px 0px 0px;}
#mb-right	h1	{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#5f6062; font-weight:bold;}
#mb-frmdiv	{width:370px; height:auto; float:left;}
.mb-span	{float:left; font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:12px; display:block; width:260px; padding-left:6px;}
#mb-frmdiv li {list-style:none;}
.mb-input	{background-image:url(images/mb-bgtxtbox.png); width:128px; height:18px; border:none; color:#b4b4b4; padding:6px 12px 6px 10px; background-repeat:no-repeat;}
.mb-label	{width:23px; float:left; height:25px;}

#mb-footer	{width:552px; height:30px; float:left; height:auto; display:block; margin:70px 0px 0px 0px; padding:0px 0px 0px 196px;}
#mb-footer img {margin-left:6px;}
#mb-footer	span {text-align:center;}
#mb-footerinfo	{width:900px; height:30px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; text-align:center; float:left; padding:10px 0px 0px 0px; color:#FFF;}

/************ Button ************/
.button { display: inline-block; background:#ed1c25!important;; border: 1px solid #ed1c25 !important; padding: 5px 8px 5px 8px !important; color: #fff !important; font-size: 12px !important; cursor: pointer; /* -moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.3); border:2px solid #FFFFFF; */ text-transform: uppercase; font-weight:bold;  }
.button:hover { text-decoration: none; background: #ed1c25!important; color: #fff !important; }
.button:active { padding: 5px 8px 5px 8px !important; }
.button { -moz-border-radius: 4px; -webkit-border-radius: 4px; }


.button_hack {
    left: 574px;
    position: relative;
    top: 200px;
}